<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
            <div>
                <ul class="mdlr-buttonrow mdlr-variant-right">
                    <li>
                        <button id="title-download-handle" class="mdlr-variant-texticon mdlr-function-dropdown" aria-controls="title-download-content" aria-haspopup="true" aria-expanded="false">
                            <span><f:translate key="templates.title.download" extensionName="chf_base"/></span>
                            <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <use href="#icon-down"/>
                            </svg>
                        </button>
                        <ul class="mdlr-dropdown mdlr-variant-right" id="title-download-content" role="listbox" aria-labelledby="title-download-handle" tabindex="-1">
                            <li role="presentation">
                                <button class="mdlr-variant-transparent mdlr-function-pdf"><span><f:format.raw><f:translate key="templates.title.download.pdf" extensionName="chf_base" arguments="{0: '{f:translate(key: \'templates.generic.type.page\', extensionName: \'chf_base\')}'}"/></f:format.raw></span></button>
                            </li>
                            <li role="presentation" class="mdlr-variant-separate">
                                <f:link.page pageType="100"><span><f:format.raw><f:translate key="templates.generic.retrieve" extensionName="chf_base" arguments="{0: '{f:translate(key: \'templates.generic.retrieve.jsonld\', extensionName: \'chf_base\')}'}"/></f:format.raw></span></f:link.page>
                                <button class="mdlr-variant-icon mdlr-variant-transparent mdlr-variant-round mdlr-variant-small mdlr-function-copy" data-target="{f:uri.page(pageType: '21810', absolute: 'true')}" data-success="{f:translate(key: 'templates.title.download.copy.success', extensionName: 'chf_base')}" data-failure="{f:translate(key: 'templates.title.download.copy.failure', extensionName: 'chf_base')}" title="{f:translate(key: 'templates.title.download.copy', extensionName: 'chf_base')}">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <use href="#icon-copy"/>
                                    </svg>
                                    <span><f:translate key="templates.title.download.copy" extensionName="chf_base"/></span>
                                </button>
                            </li>
                            <li role="presentation">
                                <f:link.page pageType="101"><span><f:format.raw><f:translate key="templates.generic.retrieve" extensionName="chf_base" arguments="{0: '{f:translate(key: \'templates.generic.retrieve.rdfxml\', extensionName: \'chf_base\')}'}"/></f:format.raw></span></f:link.page>
                                <button class="mdlr-variant-icon mdlr-variant-transparent mdlr-variant-round mdlr-variant-small mdlr-function-copy" data-target="{f:uri.page(pageType: '21811', absolute: 'true')}" data-success="{f:translate(key: 'templates.title.download.copy.success', extensionName: 'chf_base')}" data-failure="{f:translate(key: 'templates.title.download.copy.failure', extensionName: 'chf_base')}" title="{f:translate(key: 'templates.title.download.copy', extensionName: 'chf_base')}">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <use href="#icon-copy"/>
                                    </svg>
                                    <span><f:translate key="templates.title.download.copy" extensionName="chf_base"/></span>
                                </button>
                            </li>
                            <li role="presentation">
                                <f:link.page pageType="102"><span><f:format.raw><f:translate key="templates.generic.retrieve" extensionName="chf_base" arguments="{0: '{f:translate(key: \'templates.generic.retrieve.turtle\', extensionName: \'chf_base\')}'}"/></f:format.raw></span></f:link.page>
                                <button class="mdlr-variant-icon mdlr-variant-transparent mdlr-variant-round mdlr-variant-small mdlr-function-copy" data-target="{f:uri.page(pageType: '21812', absolute: 'true')}" data-success="{f:translate(key: 'templates.title.download.copy.success', extensionName: 'chf_base')}" data-failure="{f:translate(key: 'templates.title.download.copy.failure', extensionName: 'chf_base')}" title="{f:translate(key: 'templates.title.download.copy', extensionName: 'chf_base')}">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <use href="#icon-copy"/>
                                    </svg>
                                    <span><f:translate key="templates.title.download.copy" extensionName="chf_base"/></span>
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button title="{f:translate(key: 'templates.title.remember', extensionName: 'chf_base', arguments: '{0: \'{f:translate(key: \\'templates.generic.type.page\\', extensionName: \\'chf_base\\')}\'}')}" class="mdlr-variant-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <use href="#icon-remember"/>
                            </svg>
                            <span><f:translate key="templates.title.remember" extensionName="chf_base" arguments="{0: '{f:translate(key: \'templates.generic.type.page\', extensionName: \'chf_base\')}'}"/></span>
                        </button>
                    </li>
                </ul>
            </div>
</html>