<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <mdlr:page.modal id="adjust" title="{f:translate(key: 'templates.adjust', extensionName: 'chf_base')}" close="{f:translate(key: 'templates.generic.close', extensionName: 'chf_base')}">
        <mdlr:molecule.boxedData.wrap variants="{0: 'space'}">
            <mdlr:molecule.boxedData.item label="{f:translate(key: 'templates.adjust.language', extensionName: 'chf_base')}">
                <mdlr:molecule.buttonRow.wrap>
                    <f:for each="{languageMenu}" as="menuItem">
                        <mdlr:molecule.buttonRow.item>
                            <mdlr:atom.button.current variants="{f:if(condition: menuItem.active, then: '{0: \'mini\', 1: \'light\', 2: \'active\'}', else: '{0: \'mini\', 1: \'light\'}')}" text="{site.languages.{menuItem.languageUid}.navigationTitle}" language="{menuItem.languageUid}" rel="alternate" />
                        </mdlr:molecule.buttonRow.item>
                    </f:for>
                </mdlr:molecule.buttonRow.wrap>
            </mdlr:molecule.boxedData.item>
            <mdlr:molecule.boxedData.item label="{f:translate(key: 'templates.adjust.color', extensionName: 'chf_base')}">
                <mdlr:molecule.buttonRow.wrap>
                    <mdlr:molecule.buttonRow.item>
                        <mdlr:atom.button.function function="theme" variants="{0: 'mini', 1: 'light', 2: 'active'}" text="{f:translate(key: 'templates.adjust.color.auto', extensionName: 'chf_base')}" data="{target: 'auto'}" />
                    </mdlr:molecule.buttonRow.item>
                    <mdlr:molecule.buttonRow.item>
                        <mdlr:atom.button.function function="theme" variants="{0: 'mini', 1: 'light'}" text="{f:translate(key: 'templates.adjust.color.light', extensionName: 'chf_base')}" data="{target: 'light'}" />
                    </mdlr:molecule.buttonRow.item>
                    <mdlr:molecule.buttonRow.item>
                        <mdlr:atom.button.function function="theme" variants="{0: 'mini', 1: 'light'}" text="{f:translate(key: 'templates.adjust.color.dark', extensionName: 'chf_base')}" data="{target: 'dark'}" />
                    </mdlr:molecule.buttonRow.item>
                </mdlr:molecule.buttonRow.wrap>
            </mdlr:molecule.boxedData.item>
            <mdlr:molecule.boxedData.item label="{f:translate(key: 'templates.adjust.device', extensionName: 'chf_base')}">
                <mdlr:molecule.buttonRow.wrap>
                    <mdlr:molecule.buttonRow.item>
                        <mdlr:atom.button.function function="storage" variants="{0: 'mini'}" text="{f:translate(key: 'templates.adjust.device.storage', extensionName: 'chf_base')}" />
                    </mdlr:molecule.buttonRow.item>
                </mdlr:molecule.buttonRow.wrap>
            </mdlr:molecule.boxedData.item>
        </mdlr:molecule.boxedData.wrap>
        <mdlr:atom.note>
            <f:format.raw><f:translate key="templates.adjust.powered" extensionName="chf_base"/></f:format.raw>
        </mdlr:atom.note>
    </mdlr:page.modal>
</html>