<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <dialog id="settings" class="mdlr-modal" aria-hidden="true">
        <f:render partial="Dialogs/Title" arguments="{title: '{f:translate(key: \'templates.settings\', extensionName: \'chf_base\')}'}"/>
        <dl class="mdlr-boxedlist mdlr-variant-space">
            <div>
                <dt><f:translate key="templates.settings.language" extensionName="chf_base"/></dt>
                <dd>
                    <ul class="mdlr-buttonrow">
                        <f:for each="{languageMenu}" as="menuItem">
                            <li>
                                <a href="{menuItem.link}" class="mdlr-button mdlr-variant-mini mdlr-variant-light {f:if(condition: menuItem.active, then: 'mdlr-variant-active')}" hreflang="{site.languages.{menuItem.languageUid}.hreflang}" rel="alternate">
                                    <span>{site.languages.{menuItem.languageUid}.navigationTitle}</span>
                                </a>
                            </li>
                        </f:for>
                    </ul>
                </dd>
            </div>
            <div>
                <dt><f:translate key="templates.settings.color" extensionName="chf_base"/></dt>
                <dd>
                    <ul class="mdlr-buttonrow">
                        <li>
                            <button class="mdlr-variant-mini mdlr-variant-light mdlr-variant-active mdlr-function-theme" data-target="auto">
                                <span><f:translate key="templates.settings.color.auto" extensionName="chf_base"/></span>
                            </button>
                        </li>
                        <li>
                            <button class="mdlr-variant-mini mdlr-variant-light mdlr-function-theme" data-target="light">
                                <span><f:translate key="templates.settings.color.light" extensionName="chf_base"/></span>
                            </button>
                        </li>
                        <li>
                            <button class="mdlr-variant-mini mdlr-variant-light mdlr-function-theme" data-target="dark">
                                <span><f:translate key="templates.settings.color.dark" extensionName="chf_base"/></span>
                            </button>
                        </li>
                    </ul>
                </dd>
            </div>
            <div>
                <dt><f:translate key="templates.settings.device" extensionName="chf_base"/></dt>
                <dd>
                    <ul class="mdlr-buttonrow">
                        <li>
                            <button class="mdlr-variant-mini mdlr-function-storage">
                                <span><f:translate key="templates.settings.device.storage" extensionName="chf_base"/></span>
                            </button>
                        </li>
                    </ul>
                </dd>
            </div>
        </dl>
        <p class="mdlr-note"><f:format.raw><f:translate key="templates.settings.powered" extensionName="chf_base"/></f:format.raw></p>
    </dialog>
</html>