<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Provides a watchlist to remember items and manage them.</f:comment>

    <f:argument name="title" type="string" optional="{false}" description="Text label that represents the current record" />
    <f:argument name="type" type="string" optional="{false}" description="String that describes the kind of the current record" />

    <mdlr:page.modal id="watch" title="{f:translate(key: 'templates.watch', domain: 'chf_base')}" close="{f:translate(key: 'templates.generic.close', domain: 'chf_base')}">

        <mdlr:molecule.boxedList.wrap variants="{0: 'compact'}">
            <mdlr:molecule.boxedList.item uri="{f:uri.page(absolute: 1)}" text="{title}" context="{type}">
                <mdlr:atom.button.function function="watchlist-add" variants="{0: 'icon', 1: 'transparent', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.add', domain: 'chf_base')}" data="{target: '{f:uri.page(absolute: 1)}', title: title, type: type, failure: '{f:translate(key: \'templates.watch.list.failure\', domain: \'chf_base\')}'}" icon="add" />
            </mdlr:molecule.boxedList.item>
        </mdlr:molecule.boxedList.wrap>

        <mdlr:atom.heading text="{f:translate(key: 'templates.watch.list', domain: 'chf_base')}" level="3" />

        <mdlr:molecule.empty illustration="watch" message="{f:translate(key: 'templates.watch.list.empty', domain: 'chf_base')}" function="watchlist-empty" data="{remove: '{f:translate(key: \'templates.generic.remove\', domain: \'chf_base\')}', failure: '{f:translate(key: \'templates.watch.list.failure\', domain: \'chf_base\')}'}" />

        <mdlr:atom.heading text="{f:translate(key: 'templates.watch.serializations', domain: 'chf_base')}" level="3" function="watchlist-serialisations" hidden="{true}" />

        <mdlr:molecule.buttonRow.wrap function="watchlist-serialisations" hidden="{true}">
            <mdlr:molecule.buttonRow.item>
                <mdlr:atom.button.function function="watchlist-csv" text="{f:translate(key: 'templates.generic.retrieve.csv', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.csv.plain\\\', domain: \\\'chf_base\\\')}\'}')}" />
            </mdlr:molecule.buttonRow.item>
            <mdlr:molecule.buttonRow.item>
                <mdlr:atom.button.function function="watchlist-json" text="{f:translate(key: 'templates.generic.retrieve.json', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.json.plain\\\', domain: \\\'chf_base\\\')}\'}')}" />
            </mdlr:molecule.buttonRow.item>
            <mdlr:molecule.buttonRow.item>
                <mdlr:atom.button.function function="watchlist-clear" text="{f:translate(key: 'templates.watch.serializations.clear', domain: 'chf_base')}" />
            </mdlr:molecule.buttonRow.item>
        </mdlr:molecule.buttonRow.wrap>

    </mdlr:page.modal>
</html>