<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <dialog id="watch" class="mdlr-modal">
        <f:render partial="Dialogs/Title" arguments="{title: '{f:translate(key: \'templates.watch\', extensionName: \'chf_base\')}'}"/>
        <ul class="mdlr-boxedlist">
            <li>
                <mdlr:atom.button.function function="watchlist-add" variants="{0: 'icon', 1: 'transparent', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.add', extensionName: 'chf_base')}" data="{target: '{f:uri.page(absolute: \'{true}\')}', label: '{label}', type: '{type}', failure: '{f:translate(key: \'templates.watch.list.failure\', extensionName: \'chf_base\')}'}" icon="add" />
                <a href="{f:uri.page(absolute: '{true}')}" class="mdlr-boxedlist-emphasis">{label}</a>
                <p>{type}</p>
            </li>
        </ul>
        <h3><f:translate key="templates.watch.list" extensionName="chf_base"/></h3>
        <div class="mdlr-empty mdlr-function-watchlist-empty" data-remove="{f:translate(key: 'templates.generic.remove', extensionName: 'chf_base')}" data-failure="{f:translate(key: 'templates.watch.list.failure', extensionName: 'chf_base')}">
            <svg width="160" height="160" viewBox="0 0 160 160" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <use href="#illustration-watch"/>
            </svg>
            <p><f:translate key="templates.watch.list.empty" extensionName="chf_base"/></p>
        </div>
        <h3 class="mdlr-variant-hidden mdlr-function-watchlist-serialisations"><f:translate key="templates.watch.serializations" extensionName="chf_base"/></h3>
        <ul class="mdlr-buttonrow mdlr-variant-hidden mdlr-function-watchlist-serialisations">
            <li>
                <mdlr:atom.button.function function="watchlist-csv" text="{f:translate(key: 'templates.generic.retrieve.csv', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', extensionName: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.csv.plain\\\', extensionName: \\\'chf_base\\\')}\'}')}" />
            </li>
            <li>
                <mdlr:atom.button.function function="watchlist-json" text="{f:translate(key: 'templates.generic.retrieve.json', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', extensionName: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.json.plain\\\', extensionName: \\\'chf_base\\\')}\'}')}" />
            </li>
            <li>
                <mdlr:atom.button.function function="watchlist-clear" text="{f:translate(key: 'templates.watch.serializations.clear', extensionName: 'chf_base')}" />
            </li>
        </ul>
    </dialog>
</html>