<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <mdlr:page.modal id="watch" title="{f:translate(key: 'templates.watch', extensionName: 'chf_base')}" close="{f:translate(key: 'templates.generic.close', extensionName: 'chf_base')}">
        <mdlr:molecule.boxedList.wrap variants="{0: 'compact'}">
            <mdlr:molecule.boxedList.item url="{f:uri.page(absolute: '{true}')}" label="{label}" context="{type}">
                <mdlr:atom.button.function function="watchlist-add" variants="{0: 'icon', 1: 'transparent', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.add', extensionName: 'chf_base')}" data="{target: '{f:uri.page(absolute: \'{true}\')}', label: '{label}', type: '{type}', failure: '{f:translate(key: \'templates.watch.list.failure\', extensionName: \'chf_base\')}'}" icon="add" />
            </mdlr:molecule.boxedList.item>
        </mdlr:molecule.boxedList.wrap>
        <mdlr:atom.heading text="{f:translate(key: 'templates.watch.list', extensionName: 'chf_base')}" level="3" />
        <mdlr:molecule.empty illustration="watch" message="{f:translate(key: 'templates.watch.list.empty', extensionName: 'chf_base')}" function="watchlist-empty" data="{remove: '{f:translate(key: \'templates.generic.remove\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.watch.list.failure\', extensionName: \'chf_base\')}'}" />
        <mdlr:atom.heading text="{f:translate(key: 'templates.watch.serializations', extensionName: 'chf_base')}" level="3" function="watchlist-serialisations" hidden="{true}" />
        <mdlr:molecule.buttonRow.wrap function="watchlist-serialisations" hidden="{true}">
            <mdlr:molecule.buttonRow.item>
                <mdlr:atom.button.function function="watchlist-csv" text="{f:translate(key: 'templates.generic.retrieve.csv', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', extensionName: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.csv.plain\\\', extensionName: \\\'chf_base\\\')}\'}')}" />
            </mdlr:molecule.buttonRow.item>
            <mdlr:molecule.buttonRow.item>
                <mdlr:atom.button.function function="watchlist-json" text="{f:translate(key: 'templates.generic.retrieve.json', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', extensionName: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.json.plain\\\', extensionName: \\\'chf_base\\\')}\'}')}" />
            </mdlr:molecule.buttonRow.item>
            <mdlr:molecule.buttonRow.item>
                <mdlr:atom.button.function function="watchlist-clear" text="{f:translate(key: 'templates.watch.serializations.clear', extensionName: 'chf_base')}" />
            </mdlr:molecule.buttonRow.item>
        </mdlr:molecule.buttonRow.wrap>
    </mdlr:page.modal>
</html>