    <aside id="aside-share" class="mdlr-modal" aria-hidden="true" role="dialog"><div>

        <div>
            <h2>Bild teilen</h2>
            <button class="mdlr-variant-icon mdlr-variant-round mdlr-variant-transparent mdlr-function-closemodal" title="Dialog schließen">
                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <use href="#icon-close"/>
                </svg>
                <span>Dialog schließen</span>
            </button>
        </div>

        <h3>Vorschau</h3>

        <div class="mdlr-preview">
            <img src="assets/blog1.jpg" alt="Scheibenweise: Eine Liste, 27 Zeichnungen und die Glasgemälde aus der ehemaligen Deutschordenskirche in Weinheim (Bergstraße)">
            <dl>
                <dt>Webseite</dt><dd>Corpus Vitrearum Deutschland</dd>
                <dt>Titel</dt><dd>Eine Liste, 27 Zeichnungen und die Glasgemälde aus der ehemaligen Deutschordenskirche in Weinheim (Bergstraße)</dd>
                <dt>Beschreibung</dt><dd>Dass die Deutschordenskirche St. Maria in Weinheim an der Bergstraße vor ihrem Abbruch 1809 zahlreiche Glasgemälde aus den 1530er-Jahren besaß, ist in der Forschung hinlänglich bekannt.</dd>
            </dl>
        </div>

        <h3>Auf diesem Gerät</h3>

        <ul class="mdlr-buttonrow mdlr-variant-center">
            <li>
                <button class="mdlr-variant-texticon mdlr-function-copy" data-target="https://corpusvitrearum.de/id/S123" data-success="Permalink erfolgreich kopiert" data-failure="Das hat leider nicht geklappt" title="Permalink kopieren">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-copy"/>
                    </svg>
                    <span>Permalink</span>
                </button>
            </li>
            <li hidden>
                <button class="mdlr-variant-texticon mdlr-function-share" data-title="Eine Liste, 27 Zeichnungen und die Glasgemälde aus der ehemaligen Deutschordenskirche in Weinheim (Bergstraße)" data-text="Dass die Deutschordenskirche St. Maria in Weinheim an der Bergstraße vor ihrem Abbruch 1809 zahlreiche Glasgemälde aus den 1530er-Jahren besaß, ist in der Forschung hinlänglich bekannt." data-url="https://corpusvitrearum.de/id/S123" data-success="Erfolgreich geteilt" data-failure="Es wurde nichts geteilt" data-error="Hat leider nicht geklappt" title="Per App teilen">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-apps"/>
                    </svg>
                    <span>Apps</span>
                </button>
            </li><!--Move to first position in the button row when all browsers and platforms support a native share dialog-->
            <li>
                <a href="mailto:?&subject=Corpus%20Vitrearum%20Deutschland&body=Eine%20Liste,%2027%20Zeichnungen%20und%20die%20Glasgemälde%20aus%20der%20ehemaligen%20Deutschordenskirche%20in%20Weinheim%20(Bergstraße)%0d%0aCorpus%20Vitrearum%20Deutschland%0d%0ahttps://corpusvitrearum.de/id/S123" class="mdlr-button mdlr-variant-texticon" role="button" target="_blank" title="Per Mail teilen">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-email"/>
                    </svg>
                    <span>E-Mail</span>
                </a>
            </li>
        </ul>

        <h3>Über soziale Netzwerke</h3>

        <ul class="mdlr-buttonrow mdlr-variant-separate mdlr-variant-center">
            <li>
                <button class="mdlr-variant-icon mdlr-variant-round mdlr-function-mastodon" data-target="https://corpusvitrearum.de/id/S123%20Eine%20Liste,%2027%20Zeichnungen%20und%20die%20Glasgemälde%20aus%20der%20ehemaligen%20Deutschordenskirche%20in%20Weinheim%20(Bergstraße)" data-prompt="Mit welcher Mastodon-Instanz möchten Sie tröten?" data-failure="Es wurde nichts geteilt" title="Auf Mastodon teilen" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-mastodon"/>
                    </svg>
                    <span>Mastodon</span>
                </button>
            </li>
            <li>
                <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=https://corpusvitrearum.de/id/S123&title=Eine%20Liste,%2027%20Zeichnungen%20und%20die%20Glasgemälde%20aus%20der%20ehemaligen%20Deutschordenskirche%20in%20Weinheim%20(Bergstraße)" class="mdlr-button mdlr-variant-icon mdlr-variant-round" role="button" title="Auf Tumblr teilen" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-tumblr"/>
                    </svg>
                    <span>Tumblr</span>
                </a>
            </li>
            <li>
                <a href="https://getpocket.com/save?url=https://corpusvitrearum.de/id/S123&title=Eine%20Liste,%2027%20Zeichnungen%20und%20die%20Glasgemälde%20aus%20der%20ehemaligen%20Deutschordenskirche%20in%20Weinheim%20(Bergstraße)" class="mdlr-button mdlr-variant-icon mdlr-variant-round" role="button" title="Auf Pocket teilen" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-pocket"/>
                    </svg>
                    <span>Pocket</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://corpusvitrearum.de/id/S123&title=Eine%20Liste,%2027%20Zeichnungen%20und%20die%20Glasgemälde%20aus%20der%20ehemaligen%20Deutschordenskirche%20in%20Weinheim%20(Bergstraße)" class="mdlr-button mdlr-variant-icon mdlr-variant-round" role="button" title="Auf Facebook teilen" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-facebook"/>
                    </svg>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://reddit.com/submit?url=https://corpusvitrearum.de/id/S123&title=Eine%20Liste,%2027%20Zeichnungen%20und%20die%20Glasgemälde%20aus%20der%20ehemaligen%20Deutschordenskirche%20in%20Weinheim%20(Bergstraße)" class="mdlr-button mdlr-variant-icon mdlr-variant-round" role="button" title="Auf Reddit teilen" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-reddit"/>
                    </svg>
                    <span>Reddit</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/share?url=https://corpusvitrearum.de/id/S123&text=Eine%20Liste,%2027%20Zeichnungen%20und%20die%20Glasgemälde%20aus%20der%20ehemaligen%20Deutschordenskirche%20in%20Weinheim%20(Bergstraße)" class="mdlr-button mdlr-variant-icon mdlr-variant-round" role="button" title="Auf X teilen" target="_blank">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-x"/>
                    </svg>
                    <span>X</span>
                </a>
            </li>
        </ul>

    </div></aside>