<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Highwire metadata in the HTML head element.</f:comment>

    <f:argument name="webApp" type="string" optional="{false}" description="Name of the resource this page or record is part of" />
    <f:argument name="titleSubtitle" type="string" optional="{false}" description="Combined title and subtitle of the page or record" />
    <f:argument name="image" type="object" optional="{true}" default="{}" description="Image object that is respresentative of the record" />
    <f:argument name="description" type="string" optional="{true}" default="" description="Brief description of the page or record" />
    <f:argument name="keywords" type="string" optional="{true}" default="" description="Keywords of the page or record" />
    <f:argument name="author" type="string" optional="{true}" default="" description="Author of the page or record" />
    <f:argument name="dateIso" type="string" optional="{true}" default="" description="ISO-formatted date this page or record was published on" />
    <f:argument name="publisher" type="string" optional="{false}" description="Publisher of this web application" />
    <f:argument name="siteLanguages" type="array" optional="{true}" default="{}" description="The configured site languages" />
    <f:argument name="languageMenu" type="array" optional="{true}" default="{}" description="A site-wide language menu" />

    <f:page.meta property="citation_title" replace="true">{titleSubtitle}</f:page.meta>
    <f:if condition="{description}">
        <f:page.meta property="citation_abstract" replace="true">{description}</f:page.meta>
    </f:if>
    <f:if condition="{keywords}">
        <f:page.meta property="citation_keywords" replace="true">{keywords}</f:page.meta>
    </f:if>

    <f:comment><f:page.meta property="citation_editor" replace="true"></f:page.meta></f:comment>
    <f:if condition="{author}">
        <f:page.meta property="citation_author" replace="true">{author}</f:page.meta>
        <meta name="citation_author" content="{author}">
    </f:if>

    <f:if condition="{dateIso}">
        <f:page.meta property="citation_date" replace="true">{dateIso}</f:page.meta>
    </f:if>

    <f:comment><f:page.meta property="citation_volume" replace="true"></f:page.meta>
    <f:page.meta property="citation_issue" replace="true"></f:page.meta>
    <f:page.meta property="citation_series_title" replace="true"></f:page.meta></f:comment>

    <f:comment><f:page.meta property="citation_doi" replace="true"></f:page.meta>
    <f:page.meta property="citation_isbn" replace="true"></f:page.meta>
    <f:page.meta property="citation_issn" replace="true"></f:page.meta>
    <f:page.meta property="citation_pmid" replace="true"></f:page.meta></f:comment>
    <f:page.meta property="citation_public_url" replace="true">{f:uri.page(absolute: 1)}</f:page.meta>

    <f:comment><f:page.meta property="citation_conference_title" replace="true"></f:page.meta>
    <f:page.meta property="citation_dissertation_institution" replace="true"></f:page.meta>
    <f:page.meta property="citation_technical_report_institution" replace="true"></f:page.meta>
    <f:page.meta property="citation_technical_report_number" replace="true"></f:page.meta></f:comment>

    <f:comment><f:page.meta property="citation_journal_title" replace="true"></f:page.meta>
    <f:page.meta property="citation_book_title" replace="true"></f:page.meta></f:comment>
    <f:page.meta property="citation_inbook_title" replace="true">{webApp}</f:page.meta>

    <f:if condition="{publisher}">
        <f:page.meta property="citation_publisher" replace="true">{publisher}</f:page.meta>
    </f:if>
    <f:for each="{languageMenu}" as="menuItem">
        <f:if condition="{menuItem.active}">
            <f:page.meta property="citation_language" replace="true">{siteLanguages.{menuItem.languageUid}.hreflang}</f:page.meta>
        </f:if>
    </f:for>
</html>