<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:m="http://typo3.org/ns/Digicademy/MDLR/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>OpenGraph metadata in the HTML head element.</f:comment>

    <f:argument name="webApp" type="string" optional="{false}" description="Name of the resource this page or record is part of" />
    <f:argument name="titleSubtitle" type="string" optional="{false}" description="Combined title and subtitle of the page or record" />
    <f:argument name="image" type="object" optional="{true}" default="{}" description="Image object that is respresentative of the record" />
    <f:argument name="description" type="string" optional="{true}" default="" description="Brief description of the page or record" />
    <f:argument name="siteLanguages" type="array" optional="{true}" default="{}" description="The configured site languages" />
    <f:argument name="languageMenu" type="array" optional="{true}" default="{}" description="A site-wide language menu" />

    <m:headData>

        <meta property="og:type" content="website">
        <meta property="og:determiner" content="">
        <meta property="og:title" content="{titleSubtitle}">
        <f:comment><meta property="og:audio" content="">
        <meta property="og:video" content=""></f:comment>
        <f:if condition="{image}">
            <meta property="og:image" content="{f:uri.image(image: image, width: '1200c', height: '630c', fileExtension: 'jpg')}">
        </f:if>
        <f:if condition="{description}">
            <meta property="og:description" content="{description}">
        </f:if>
        <meta property="og:url" content="{f:uri.page(absolute: 1)}">
        <meta property="og:site_name" content="{webApp}">
        <f:for each="{languageMenu}" as="menuItem">
            <f:if condition="{menuItem.active}">
                <f:then>
                    <meta property="og:locale" content="{siteLanguages.{menuItem.languageUid}.hreflang}">
                </f:then>
                <f:else>
                    <meta property="og:locale:alternate" content="{siteLanguages.{menuItem.languageUid}.hreflang}">
                </f:else>
            </f:if>
        </f:for>

    </m:headData>
</html>