<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:m="http://typo3.org/ns/Digicademy/MDLR/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Serialisation metadata in the HTML head element.</f:comment>

    <m:headData>

        <!--Serialisations-->
        <link rel="alternate" type="application/ld+json" href="{f:uri.page(pageType: '6024975381')}" title="{f:translate(key: 'templates.generic.retrieve.jsonld.plain', extensionName: 'chf_base')}">
        <link rel="alternate" type="text/turtle" href="{f:uri.page(pageType: '2867941442')}" title="{f:translate(key: 'templates.generic.retrieve.turtle.plain', extensionName: 'chf_base')}">
        <link rel="alternate" type="application/rdf+xml" href="{f:uri.page(pageType: '1295536366')}" title="{f:translate(key: 'templates.generic.retrieve.rdfxml.plain', extensionName: 'chf_base')}">
        <link rel="alternate" type="application/tei+xml" href="{f:uri.page(pageType: '9631552583')}" title="{f:translate(key: 'templates.generic.retrieve.teixml.plain', extensionName: 'chf_base')}">

    </m:headData>
</html>