<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>App metadata in the HTML head element.</f:comment>

    <f:argument name="layoutHighlight" type="string" optional="{false}" description="Highlight color for adaptive browser chrome" />
    <f:argument name="layoutFaviconMain" type="string" optional="{false}" description="Main website icon" />
    <f:argument name="layoutFaviconMask" type="string" optional="{false}" description="Masked website icon" />
    <f:argument name="layoutFaviconApp" type="string" optional="{false}" description="Web app icon" />
    <f:argument name="webApp" type="string" optional="{false}" description="Name of the resource this page or record is part of" />

    <f:page.meta property="viewport" replace="true">width=device-width, initial-scale=1.0</f:page.meta>
    <f:page.meta property="theme-color" replace="true">{layoutHighlight}</f:page.meta>
    <f:page.meta property="apple-mobile-web-app-status-bar-style" replace="true">{layoutHighlight}</f:page.meta>
    <f:page.meta property="apple-mobile-web-app-capable" replace="true">yes</f:page.meta>
    <f:page.meta property="apple-mobile-web-app-title" replace="true">{webApp}</f:page.meta>

    <f:page.headerData>
        <link rel="shortcut icon" href="{f:uri.resource(path: layoutFaviconMain, useCacheBusting: 0)}">
        <link rel="mask-icon" href="{f:uri.resource(path: layoutFaviconMask, useCacheBusting: 0)}" color="{layoutHighlight}">
        <link rel="apple-touch-icon" href="{f:uri.resource(path: layoutFaviconApp, useCacheBusting: 0)}">
        <f:comment><link rel="manifest" href="manifest.json"></f:comment>
    </f:page.headerData>
</html>