<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <mdlr:page.section semanticType="header" id="header" variants="{0: 'headerbar', 1: 'ultrawide'}">
        <div class="mdlr-pattern mdlr-variant-triptych" id="header-headerbar">

<f:render partial="Header/Name" arguments="{_all}" />

<f:render partial="Header/Jump" />

<f:render partial="Header/Navigation" arguments="{mainMenu: mainMenu}" />

<f:render partial="Header/Meta" arguments="{searchMenu: searchMenu}" />

        </div>
    </mdlr:page.section>
</html>