<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <mdlr:page.section semanticType="header" id="header" variants="{0: 'headerbar', 1: 'ultrawide'}">
        <mdlr:template.pattern id="header-headerbar" variants="{0: 'triptych'}">

<f:render partial="Header/Name" arguments="{_all}" />

<f:render partial="Header/Jump" />

<f:render partial="Header/Navigation" arguments="{mainMenu: mainMenu}" />

<f:render partial="Header/Meta" arguments="{searchMenu: searchMenu}" />

        </mdlr:template.pattern>
    </mdlr:page.section>
</html>