<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <header id="header" class="mdlr-section mdlr-variant-headerbar mdlr-variant-ultrawide">
        <div class="mdlr-pattern mdlr-variant-triptych" id="header-headerbar">

<f:render partial="Header/Name" arguments="{_all}"/>

<f:render partial="Header/Jump"/>

<f:render partial="Header/Navigation" arguments="{mainMenu: mainMenu}"/>

<f:render partial="Header/Meta"/>

        </div>
    </header>
</html>