<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <nav id="header-jump" class="mdlr-variant-tacit">
        <h2><f:translate key="templates.header.jump" extensionName="chf_base"/></h2>
        <ul>
            <li>
                <a href="#header-navigation"><f:translate key="templates.header.navigation" extensionName="chf_base"/></a>
            </li>
            <li>
                <a href="#header-meta"><f:translate key="templates.header.meta" extensionName="chf_base"/></a>
            </li>
            <li>
                <a href="#main"><f:translate key="templates.main" extensionName="chf_base"/></a>
            </li>
            <li>
                <a href="#footer-service"><f:translate key="templates.footer.service" extensionName="chf_base"/></a>
            </li>
            <li>
                <a href="#footer-social"><f:translate key="templates.footer.social" extensionName="chf_base"/></a>
            </li>
            <li>
                <a href="#footer-partners"><f:translate key="templates.footer.partners" extensionName="chf_base"/></a>
            </li>
        </ul>
    </nav>
</html>