<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <mdlr:molecule.logo variants="{0: 'back'}" areas="{0: 'slot-a', 1: 'align-left'}">
        <h1 id="header-name">
            <f:link.page pageUid="{site.rootPageId}" title="{f:translate(key: 'templates.generic.home', extensionName: 'chf_base')}" class="mdlr-imagelink">
                <span>
                    <f:if condition="{language.websiteTitle}">
                        <f:then>{language.websiteTitle}</f:then>
                        <f:else>{site.configuration.websiteTitle}</f:else>
                    </f:if>
                </span>
                <img src="{f:uri.image(src: '{settings.chf.logo.small}')}" alt="{f:if(condition: '{language.websiteTitle}', then: '{language.websiteTitle}', else: '{site.configuration.websiteTitle}')}">
            </f:link.page>
        </h1>
        <f:for each="{rootlineMenu}" as="menuItem" iteration="index">
            <f:if condition="{index.cycle} == 1">
                <f:then>
                    <f:variable name="currentPage">{menuItem.link}</f:variable>
                </f:then>
                <f:else>
                    <f:if condition="{index.cycle} == 2">
                        <f:if condition="{menuItem.current} == 0 && {menuItem.link} != {currentPage}">
                            <f:then>
                                <menu class="mdlr-buttonrow mdlr-variant-nowrap">
                                    <li>
                                        <mdlr:atom.button.page variants="{0: 'icon', 1: 'unobtrusive'}" pageUid="{menuItem.data.uid}" text="{f:translate(key: 'templates.header.back', extensionName: 'chf_base')}" icon="back" />
                                    </li>
                                </menu>
                            </f:then>
                        </f:if>
                    </f:if>
                </f:else>
            </f:if>
        </f:for>
    </mdlr:molecule.logo>
</html>