<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <mdlr:template.area semanticType="nav" id="header-navigation" areas="{0: 'slot-b', 1: 'align-center', 2: 'align-middle'}">
        <h2 class="mdlr-variant-tacit"><f:translate key="templates.header.navigation" extensionName="chf_base"/></h2>
        <menu class="mdlr-viewswitcher">
            <f:for each="{mainMenu}" as="menuItem">
                <li>
                    <f:link.page pageUid="{menuItem.data.uid}" class="{f:if(condition: menuItem.active, then:'mdlr-variant-active')}">
                        <span>{menuItem.title}</span>
                    </f:link.page>
                </li>
            </f:for>
        </menu>
    </mdlr:template.area>
</html>