<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Displays a small web app logo and, if appropriate, a back button.</f:comment>

    <f:argument name="webApp" type="string" optional="{false}" description="Website title to use as heading and alternative text" />
    <f:argument name="pageUid" type="int" optional="{false}" description="UID of the page to link the logo to" />
    <f:argument name="logo" type="string" optional="{false}" description="Path to the logo" />
    <f:argument name="rootlineMenu" type="array" optional="{false}" description="List of rootline navigation items" />

    <mdlr:atom.heading text="{webApp}" level="1" variants="{0: 'tacit'}" />

    <mdlr:molecule.logo variants="{0: 'back'}" areas="{0: 'slot-a', 1: 'align-left'}">

        <mdlr:atom.imageLink.page pageUid="{pageUid}" image="{f:uri.image(src: logo)}" alternativeText="{webApp}" hint="{f:translate(key: 'templates.generic.home', extensionName: 'chf_base')}" />

        <f:for each="{rootlineMenu}" as="menuItem" iteration="index">
            <f:if condition="{index.cycle} == 1">
                <f:then>
                    <f:variable name="currentPage">{menuItem.link}</f:variable>
                </f:then>
                <f:else>
                    <f:if condition="{index.cycle} == 2">
                        <f:if condition="{menuItem.current} == 0 && {menuItem.link} != {currentPage}">
                            <f:then>
                                <mdlr:molecule.buttonRow.wrap variants="{0: 'nowrap'}">
                                    <mdlr:molecule.buttonRow.item>
                                        <mdlr:atom.button.page variants="{0: 'icon', 1: 'unobtrusive'}" pageUid="{menuItem.data.uid}" text="{f:translate(key: 'templates.header.back', extensionName: 'chf_base')}" icon="back" />
                                    </mdlr:molecule.buttonRow.item>
                                </mdlr:molecule.buttonRow.wrap>
                            </f:then>
                        </f:if>
                    </f:if>
                </f:else>
            </f:if>
        </f:for>

    </mdlr:molecule.logo>
</html>