        <!--<section id="sources" class="mdlr-split mdlr-section">

            <h3>Quellen und Hinweise</h3>

            <div>
                <section class="mdlr-unbound">

                    <h4>Literatur</h4>

                    <ul class="mdlr-bibliography">
                        <li id="reference-01"><span>Archiv des Hauses Württemberg</span>. <cite class="mdlr-variant-main">Die Glasmalereien: Sammlung des Württembergischen Hausfamiliengutes</cite>, Altshausen.</li>
                        <li id="reference-02"><span>Becksmann</span>, Rüdiger. <cite class="mdlr-variant-main">Die mittelalterlichen Glasmalereien in Schwaben von 1350 bis 1530 ohne Ulm</cite>. Berlin, 1986. Corpus Vitrearum Medii Aevi Deutschland I,2.</li>
                        <li id="reference-03"><span>Drös</span>, Harald. <cite class="mdlr-variant-main">Die Inschriften des ehemaligen Landkreises Mergentheim</cite>. Wiesbaden, 2002. Die Deutschen Inschriften 54, Heidelberger Reihe 14.</li>
                        <li id="reference-04"><span>Düll</span>, Dagmar. <cite class="mdlr-variant-main">Heidelberger Gelehrtenlexikon 1652–1802</cite>. Berlin, 1991.</li>
                        <li id="reference-05"><span>Eichner</span>, Elisabeth. <cite class="mdlr-variant-main">Das Kurpfälzische Porträt im 18. Jahrhundert: Untersuchungen zur Porträtmalerei am Hofe der beiden Kurfürsten Carl Philipp (1717–1742) und Carl Theodor (1742–1799)</cite>. Dissertationsschrift, Heidelberg, 1981.</li>
                        <li id="reference-06"><span>Fresin</span>, Josef. <cite class="mdlr-variant-main">Die Geschichte der Stadt Weinheim</cite>. Weinheim, 1962.</li>
                        <li id="reference-07"><span>Fritz</span>, Eberhard. „<cite>Sommerresidenz Schloss Friedrichshafen: Die Könige von Württemberg am Bodensee</cite>“. <cite class="mdlr-variant-main">Friedrichshafener Jahrbuch für Geschichte und Kultur</cite>, Nr. 4, 2010, <abbr title="Seite">S.</abbr> 28–75.</li>
                        <li id="reference-08"><span>Generallandesarchiv Karlsruhe</span>. „<cite><em>Acta Die Copirung deren Wappen in der Commenden Kirch zu Weinheim betr.</em></cite>“. Landesarchiv Baden-Württemberg, GLAK 188, Nr. 688.</li>
                        <li id="reference-09"><span>Hauptstaatsarchiv Stuttgart</span>. Landesarchiv Baden-Württemberg, HStAS G 313 Bü 8a.</li>
                        <li id="reference-10"><span>Huth</span>, Hans, Hrsg. <cite class="mdlr-variant-main">Die Kunstdenkmäler des Landkreises Mannheim: Ohne Stadt Schwetzingen</cite>. München/Berlin, 1967. Die Kunstdenkmäler Badens X,3.</li>
                        <li id="reference-11"><span>Kimmelmann</span>, Sascha. <cite class="mdlr-variant-main">Der Deutsche Orden im Südwesten: Katalog zur Sonderausstellung im Deutschordensmuseum anlässlich des Jubiläums 800 Jahre Deutscher Orden in [Bad] Mergentheim</cite>. Bad Mergentheim, 2019.</li>
                        <li id="reference-12"><span>Mayer von Mayerfels</span>, Karl. „<cite>Die Glasmalereien im ehemaligen Kloster Hofen, jetzigem Sommer-Residenz-Schlosse Sr. Maj. Königs Karl von Württemberg</cite>“. <cite class="mdlr-variant-main">Schriften des Vereins für Geschichte des Bodensees</cite>, Nr. 11, 1882.</li>
                        <li id="reference-13"><span>Neumüllers-Klauser</span>, Renate. <cite class="mdlr-variant-main">Die Inschriften des Rhein-Neckar-Kreises (II): Ehemaliger Landkreis Mannheim: Ehemaliger Landkreis Sinsheim (nördlicher Teil)</cite>. München, 1977. Die Deutschen Inschriften 16, Heidelberger Reihe 6.</li>
                        <li id="reference-14"><span>Seiler</span>, Jörg. „<cite>Das Mergentheimer Deutschordensarchiv nach seiner Übernahme durch das Königreich Württemberg (1809–1868)</cite>“. <cite class="mdlr-variant-main">Das „Virtuelle Archiv des Deutschen Ordens“: Beiträge einer internationalen Tagung im Staatsarchiv Ludwigsburg am 11. und 12. April 2013</cite>, hrsg. v. Maria M. Rückert, Stuttgart. 2014.</li>
                        <li id="reference-15"><span>Staatsarchiv Ludwigsburg</span>. „<cite><em>Farbige Kopien von Rundscheiben (Glasmalereien) aus dem Deutschordensschloss zu Mergentheim</em></cite>“ Landesarchiv Baden-Württemberg, StAL B 236, Bü 194.</li>
                        <li id="reference-16"><span>Täubl</span>, Friedrich. <cite class="mdlr-variant-main">Der Deutsche Orden im Zeitalter Napoleons</cite>. Bonn, 1966. Quellen und Studien zur Geschichte des Deutschen Ordens 4.</li>
                        <li id="reference-17"><span>Wagner</span>, Silvia. „<cite>Die ehemalige Deutschordenskapelle in Weinheim (Amtshausplatz)</cite>“. <cite class="mdlr-variant-main">Unser Museum: Mitteilungen des Förderkreises des Museums Weinheim</cite>, Nr. 10, 1999.</li>
                        <li id="reference-18"><span>Weiss</span>, John G. <cite class="mdlr-variant-main">Geschichte der Stadt Weinheim an der Bergstraße</cite>. Weinheim, 1911.</li>
                        <li id="reference-19"><span>Wentzel</span>, Hans. <cite class="mdlr-variant-main">Die Glasmalereien in Schwaben von 1200–1350</cite>. Berlin, 1958. Corpus Vitrearum Medii Aevi Deutschland I.</li>
                    </ul>

                </section>

                <section class="mdlr-box">

                    <h4>Buchreihe</h4>

                    <a href="#" class="mdlr-boxedcover" title="Weiter erkunden">
                        <figure>
                            <img src="assets/cover.jpg" alt="Eva Fitz, Die mittelalterlichen Glasmalereien im Halberstädter Dom">
                            <figcaption>
                                <ul>
                                    <li class="mdlr-variant-emphasis">Band XVII</li>
                                    <li>Die mittelalterlichen Glasmalereien im Halberstädter Dom</li>
                                    <li class="mdlr-variant-soft">Eva Fitz</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </a>

                </section>

            </div>

        </section>-->