<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Default layout providing assets, header, footer, and dialogs.</f:comment>

    <f:spaceless>
        <f:render partial="Metadata/Metadata" arguments="{layoutHighlight: settings.chf.color.highlight, layoutFaviconMain: settings.chf.favicon.main, layoutFaviconMask: settings.chf.favicon.mask, layoutFaviconApp: settings.chf.favicon.app, webApp: metadataWebApp, titleSubtitle: metadataTitleSubtitle, image: '{f:if(condition: pageImages.0, then: pageImages.0)}', description: metadataDescription, keywords: metadataKeywords, author: metadataAuthor, dateIso: metadataDateIso, publisher: metadataPublisher, siteLanguages: site.languages, languageMenu: languageMenu}" />

        <f:render partial="Assets/Graphics" />

        <f:render partial="Header/Header" arguments="{webApp: metadataWebApp, webAppPageUid: site.rootPageId, webAppLogo: settings.chf.logo.small, rootlineMenu: rootlineMenu, mainMenu: mainMenu, searchButton: '{f:if(condition: searchMenu, then: 1, else: 0)}'}" />

        <mdlr:template.area semanticType="main" id="main">
            <f:render section="Main" />
            <f:render section="About" />
        </mdlr:template.area>

        <f:render partial="Footer/Footer" arguments="{webApp: metadataWebApp, webAppPageUid: site.rootPageId, webAppLogo: settings.chf.logo.main, serviceMenu: serviceMenu, socialLinks: settings.chf.socials, partnerUrls: settings.chf.partners.urls, partnerLogos: settings.chf.partners.logos, partnerNames: settings.chf.partners.names}" />

        <f:render partial="Dialogs/Share" arguments="{titleSubtitle: metadataTitleSubtitle, webApp: metadataWebApp, description: metadataDescription, image: '{f:if(condition: pageImages.0, then: pageImages.0)}'}" />
        <f:render partial="Dialogs/Search" arguments="{searchMenu: searchMenu}" />
        <f:render partial="Dialogs/Watch" arguments="{title: metadataTitle, type: metadataType}" />
        <f:render partial="Dialogs/Adjust" arguments="{siteLanguages: site.languages, languageMenu: languageMenu}" />
        <f:render partial="Dialogs/Notify" />
    </f:spaceless>
</html>