<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:render partial="Assets/Icons"/>

<f:render partial="Assets/Illustrations"/>

<f:render partial="Header/Header" arguments="{_all}"/>

<f:render section="Main" arguments="{_all}"/>

<f:render partial="Footer/Footer" arguments="{_all}"/>

<f:render partial="Aside/Notifications"/>

<f:render partial="Aside/Watchlist"/>

<f:render partial="Aside/Share" arguments="{_all}"/>

<f:render partial="Aside/Settings"/>

</html>