<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:render partial="Assets/Head" arguments="{_all}"/>

<f:render partial="Assets/Icons"/>

<f:render partial="Assets/Illustrations"/>

<f:render partial="Header/Header" arguments="{_all}"/>

<f:render section="Main" arguments="{_all}"/>

<f:render partial="Footer/Footer" arguments="{_all}"/>

<f:render partial="Dialogs/Share" arguments="{site: '{f:if(condition: \'{language.websiteTitle}\', then: \'{language.websiteTitle}\', else: \'{site.configuration.websiteTitle}\')}', title: '{page.pageRecord.title}', description: '{f:if(condition: \'{page.pageRecord.abstract}\', then: \'{page.pageRecord.abstract}\', else: \'{page.pageRecord.description}\')}', images: '{images}'}"/>

<f:render partial="Dialogs/Watchlist"/>

<f:render partial="Dialogs/Search"/>

<f:render partial="Dialogs/Settings" arguments="{_all}"/>

<f:render partial="Dialogs/Notification"/>

</html>