<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Overview of properties, references, and serialisations of the current page or record.</f:comment>

    <f:argument name="heading" type="string" optional="{false}" description="Heading of the about section" />
    <f:argument name="titleSubtitle" type="string" optional="{false}" description="Combined title and subtitle of the page or record" />
    <f:argument name="description" type="string" optional="{true}" default="" description="Brief description of the page or record" />
    <f:argument name="author" type="string" optional="{true}" default="" description="Author of the page or record" />
    <f:argument name="authorEmail" type="string" optional="{true}" default="" description="Email of the author of the page or record" />
    <f:argument name="authorshipRelation" type="array" optional="{true}" default="{}" description="Authorship of the page or record" />
    <f:argument name="iri" type="string" optional="{true}" default="" description="Page-wide identifier of the page or record" />
    <f:argument name="rightsUri" type="string" optional="{true}" default="" description="URI of the rights situation of this page or record" />
    <f:argument name="rightsLabel" type="string" optional="{true}" default="" description="Label of the rights situation of this page or record" />
    <f:argument name="licenseRelation" type="array" optional="{true}" default="{}" description="License of the page or record" />
    <f:argument name="publication" type="string" optional="{true}" default="false" description="Name of the publication this page or record is part of" />
    <f:argument name="resource" type="string" optional="{true}" default="" description="Name of the resource this page or record is part of" />
    <f:argument name="publisher" type="string" optional="{true}" default="" description="Publisher of this web application" />
    <f:argument name="year" type="string" optional="{false}" description="Year this page or record was published in" />
    <f:argument name="date" type="string" optional="{false}" description="Date this page or record was published on" />
    <f:argument name="dateIso" type="string" optional="{true}" default="" description="ISO-formatted date this page or record was published on" />
    <f:argument name="access" type="string" optional="{false}" description="Date this page or record was accessed on" />
    <f:argument name="accessIso" type="string" optional="{true}" default="" description="ISO-formatted date this page or record was accessed on" />
    <f:argument name="revisionNumber" type="int" optional="{true}" default="0" description="Number of the current page or record revision" />
    <f:argument name="revisionDate" type="string" optional="{true}" default="" description="Date this page or record was last revised on" />
    <f:argument name="revisionDateIso" type="string" optional="{true}" default="" description="ISO-formatted date this page or record was last revised on" />
    <f:argument name="extent" type="array" optional="{true}" default="{}" description="Identifier or dimension of the page or record" />
    <f:argument name="sameAs" type="array" optional="{true}" default="{}" description="Authority file URIs identifying the page or record" />
    <f:argument name="citationStyle" type="string" optional="{false}" description="Citation style to use in this web app" />
    <f:argument name="serialisations" type="array" optional="{true}" default="{}" description="Serialisations to show for the current page or record" />
    <f:argument name="language" type="string" optional="{true}" default="" description="Language of the resource" />
    <f:argument name="apiPageUid" type="int" optional="{true}" default="0" description="Whether to provide permalinks to records" />
    <f:argument name="apiInfoPageUid" type="int" optional="{true}" default="0" description="Whether to show a note with a link to a general API page" />

    <mdlr:page.section id="about" variants="{0: 'odd', 2: 'wide'}">

        <mdlr:atom.heading text="{heading}" level="3" />

        <mdlr:template.pattern variants="{f:if(condition: serialisations, then: '{0: \'triangle\'}', else: '{0: \'triangle\', 1: \'triangle-missing-c\'}')}">
            <f:render partial="About/Properties" arguments="{description: description, author: author, authorEmail: authorEmail, authorshipRelation: authorshipRelation, date: date, dateIso: dateIso, access: access, accessIso: accessIso, revisionNumber: revisionNumber, revisionDate: revisionDate, revisionDateIso: revisionDateIso, extent: extent, sameAs: sameAs, apiPageUid: apiPageUid}" />
            <f:render partial="About/Reference" arguments="{iri: iri, rightsUri: rightsUri, rightsLabel: rightsLabel, licenseRelation: licenseRelation, titleSubtitle: titleSubtitle, author: author, authorshipRelation: authorshipRelation, publication: publication, resource: resource, publisher: publisher, year: year, date: date, revisionNumber: revisionNumber, revisionDate: revisionDate, access: access, extent: extent, citationStyle: citationStyle, language: language, apiPageUid: apiPageUid}" />
            <f:render partial="About/Serializations" arguments="{serialisations: serialisations, apiInfoPageUid: apiInfoPageUid}" />
        </mdlr:template.pattern>

    </mdlr:page.section>
</html>