<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <mdlr:page.section id="about" variants="{0: 'odd', 2: 'wide'}">
        <mdlr:atom.heading text="{f:translate(key: 'templates.about', extensionName: 'chf_base')}" level="3" />
        <mdlr:template.pattern variants="{0: 'triangle'}">

<f:render partial="About/Properties" arguments="{_all}"/>

<f:render partial="About/Reference" arguments="{_all}"/>

<f:render partial="About/Serializations"/>

        </mdlr:template.pattern>
    </mdlr:page.section>
</html>