<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <section id="about" class="mdlr-section mdlr-variant-odd mdlr-variant-wide">
        <h3><f:translate key="templates.about" extensionName="chf_base"/></h3>
        <f:if condition="{page.pageRecord.author} || {page.pageRecord.lastUpdated} || {page.pageRecord.abstract} || {page.pageRecord.description}">
            <f:then>
                <div class="mdlr-pattern mdlr-variant-triangle">

<f:render partial="About/Properties" arguments="{_all}"/>

<f:render partial="About/Reference" arguments="{_all}"/>

<f:render partial="About/Serializations"/>

                </div>
            </f:then>
            <f:else>
                <div class="mdlr-pattern mdlr-variant-simplifiedtriangle">

<f:render partial="About/Reference" arguments="{_all}"/>

<f:render partial="About/Serializations"/>

                </div>
            </f:else>
        </f:if>
    </section>
</html>