<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Citation template (mls-author-date or mla-author-year).</f:comment>

    <f:argument name="iri" type="string" optional="{true}" default="" description="Page-wide identifier of the page or record" />
    <f:argument name="titleSubtitle" type="string" optional="{true}" default="" description="Combined title and subtitle of the page or record" />
    <f:argument name="author" type="string" optional="{true}" default="" description="Author of the page or record" />
    <f:argument name="authorshipRelation" type="array" optional="{true}" default="{}" description="Authorship of the page or record" />
    <f:argument name="publication" type="string" optional="{true}" default="" description="Name of the publication this page or record is part of" />
    <f:argument name="resource" type="string" optional="{true}" default="" description="Name of the resource this page or record is part of" />
    <f:argument name="publisher" type="string" optional="{true}" default="" description="Publisher of this web application" />
    <f:argument name="year" type="string" optional="{true}" default="" description="Year this page or record was published in" />
    <f:argument name="date" type="string" optional="{true}" default="" description="Date this page or record was published on" />
    <f:argument name="revisionNumber" type="int" optional="{true}" default="0" description="Number of the current page or record revision" />
    <f:argument name="revisionDate" type="string" optional="{true}" default="" description="Date this page or record was last revised on" />
    <f:argument name="access" type="string" optional="{true}" default="" description="Date this page or record was accessed on" />
    <f:argument name="extent" type="array" optional="{true}" default="{}" description="Identifier or dimension of the page or record" />
    <f:argument name="citationStyle" type="string" optional="{true}" default="mla-author-title" description="Citation style to use in this web app" />
    <f:argument name="apiPageUid" type="int" optional="{true}" default="0" description="Whether to provide permalinks to records" />
    <f:argument name="italics" type="bool" optional="{true}" default="{true}" description="Whether to italicise titles where appropriate" />

    <f:variable name="editorsAsAuthors">0</f:variable>
    <f:variable name="firstEditorListed">0</f:variable>
    <f:variable name="firstTranslatorListed">0</f:variable>
    <f:variable name="firstContributorListed">0</f:variable>

    <f:variable name="penultimateAuthorNumber">0</f:variable>
    <f:variable name="penultimatePhotographerNumber">0</f:variable>
    <f:variable name="penultimateEditorNumber">0</f:variable>
    <f:variable name="penultimateTranslatorNumber">0</f:variable>
    <f:variable name="penultimateContributorNumber">0</f:variable>
    <f:variable name="penultimatePublisherNumber">0</f:variable>
    <f:variable name="penultimateRightsOwnerNumber">0</f:variable>
    <f:for each="{authorshipRelation}" as="authorship" iteration="authorshipIterator">
        <f:switch expression="{authorship.role}">
            <f:case value="author"><f:variable name="penultimateAuthorNumber">{authorshipIterator.index - 1}</f:variable></f:case>
            <f:case value="photographer"><f:variable name="penultimatePhotographerNumber">{authorshipIterator.index - 1}</f:variable></f:case>
            <f:case value="editor"><f:variable name="penultimateEditorNumber">{authorshipIterator.index - 1}</f:variable></f:case>
            <f:case value="translator"><f:variable name="penultimateTranslatorNumber">{authorshipIterator.index - 1}</f:variable></f:case>
            <f:case value="contributor"><f:variable name="penultimateContributorNumber">{authorshipIterator.index - 1}</f:variable></f:case>
            <f:case value="publisher"><f:variable name="penultimatePublisherNumber">{authorshipIterator.index - 1}</f:variable></f:case>
            <f:case value="rightsOwner"><f:variable name="penultimateRightsOwnerNumber">{authorshipIterator.index - 1}</f:variable></f:case>
        </f:switch>
    </f:for>

    <f:if condition="!{author}">
        <f:for each="{authorshipRelation}" as="authorship" iteration="authorshipIterator">
            <f:if condition="{authorship.role} == 'author'">
                <f:then>
                    <f:if condition="{author}">
                        <f:then>
                            <f:variable name="author">{author}{f:if(condition: '{authorshipIterator.index} == {penultimateAuthorNumber + 1}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')} {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}</f:variable>   
                        </f:then>
                        <f:else>
                            <f:variable name="author">{f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.surname}, {authorship.forename}')}</f:variable>   
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{authorship.role} == 'photographer'">
                        <f:if condition="{author}">
                            <f:then>
                                <f:variable name="author">{author}{f:if(condition: '{authorshipIterator.index} == {penultimatePhotographerNumber + 1}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')} {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}</f:variable>   
                            </f:then>
                            <f:else>
                                <f:variable name="author">{f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.surname}, {authorship.forename}')}</f:variable>   
                            </f:else>
                        </f:if>
                    </f:if>
                </f:else>
            </f:if>
        </f:for>
    </f:if>
    <f:if condition="!{author}">
        <f:variable name="editorsAsAuthors">1</f:variable>
        <f:variable name="multipleEditors">0</f:variable>
        <f:for each="{authorshipRelation}" as="authorship" iteration="authorshipIterator">
            <f:if condition="{authorship.role} == 'editor'">
                <f:if condition="{author}">
                    <f:then>
                        <f:variable name="multipleEditors">1</f:variable>
                        <f:variable name="author">{author}{f:if(condition: '{authorshipIterator.index} == {penultimateEditorNumber + 1}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')} {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}</f:variable>
                    </f:then>
                    <f:else>
                        <f:variable name="author">{f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.surname}, {authorship.forename}')}</f:variable>
                    </f:else>
                </f:if>
            </f:if>
        </f:for>
        <f:if condition="{author}">
            <f:if condition="{multipleEditors}">
                <f:then>
                    <f:variable name="author">{author} (<f:translate key="templates.about.citation.editorSingular" extensionName="chf_base" />)</f:variable>
                </f:then>
                <f:else>
                    <f:variable name="author">{author} (<f:translate key="templates.about.citation.editorPlural" extensionName="chf_base" />)</f:variable>
                </f:else>
            </f:if>
        </f:if>
    </f:if>

    <f:if condition="{author}">
        <f:then>
            <f:variable name="citation">{author}</f:variable>
        </f:then>
        <f:else>
            <f:if condition="{publication}">
                <f:then>
                    <f:variable name="citation">{publication}</f:variable>
                </f:then>
                <f:else>
                    <f:variable name="citation"><f:translate key="templates.generic.unknown" extensionName="chf_base" /></f:variable>
                </f:else>
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{citationStyle} == 'mla-author-date'">
        <f:if condition="{year}">
            <f:then>
                <f:variable name="yearToAdd">{year}</f:variable>
            </f:then>
            <f:else>
                <f:variable name="yearToAdd"><f:format.date pattern="yyyy">today</f:format.date></f:variable>
            </f:else>
        </f:if>
        <f:variable name="citation">{citation} ({yearToAdd})</f:variable>
    </f:if>

    <f:if condition="{titleSubtitle}">
        <f:then>
            <f:variable name="citation">{citation}. <f:translate key="templates.generic.quote" extensionName="chf_base" arguments="{1: '{titleSubtitle}', 2: '.'}" /></f:variable>
        </f:then>
        <f:else>
            <f:variable name="citation">{citation}.</f:variable>
        </f:else>
    </f:if>

    <f:if condition="{publication}">
        <f:if condition="{italics}">
            <f:then>
                <f:variable name="citation">{citation} <em>{publication}{f:if(condition: resource, then: '{f:translate(key: \'templates.generic.titleSubtitle\', extensionName: \'chf_base\')}{resource}')}</em>,</f:variable>
            </f:then>
            <f:else>
                <f:variable name="citation">{citation} {publication}{f:if(condition: resource, then: '{f:translate(key: \'templates.generic.titleSubtitle\', extensionName: \'chf_base\')}{resource}')},</f:variable>
            </f:else>
        </f:if>
    </f:if>

    <f:for each="{authorshipRelation}" as="authorship" iteration="authorshipIterator">
        <f:switch expression="{authorship.role}">
            <f:case value="editor">
                <f:if condition="!{editorsAsAuthors}">
                    <f:if condition="{firstEditorListed}">
                        <f:then>
                            <f:variable name="citation">{citation} {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}{f:if(condition: '{authorshipIterator.index} == {penultimateEditorNumber}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')}</f:variable>
                        </f:then>
                        <f:else>
                            <f:variable name="citation">{citation} <f:translate key="templates.about.citation.editedBy" extensionName="chf_base" /> {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}{f:if(condition: '{authorshipIterator.index} == {penultimateEditorNumber}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')}</f:variable>
                            <f:variable name="firstEditorListed">1</f:variable>
                        </f:else>
                    </f:if>
                </f:if>
            </f:case>
            <f:case value="translator">
                <f:if condition="{firstTranslatorListed}">
                    <f:then>
                        <f:variable name="citation">{citation} {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}{f:if(condition: '{authorshipIterator.index} == {penultimateTranslatorNumber}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')}</f:variable>
                    </f:then>
                    <f:else>
                        <f:variable name="citation">{citation} <f:translate key="templates.about.citation.translatedBy" extensionName="chf_base" /> {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}{f:if(condition: '{authorshipIterator.index} == {penultimateTranslatorNumber}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')}</f:variable>
                        <f:variable name="firstTranslatorListed">1</f:variable>
                    </f:else>
                </f:if>
            </f:case>
            <f:case value="contributor">
                <f:if condition="{firstContributorListed}">
                    <f:then>
                        <f:variable name="citation">{citation} {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}{f:if(condition: '{authorshipIterator.index} == {penultimateContributorNumber}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')}</f:variable>
                    </f:then>
                    <f:else>
                        <f:variable name="citation">{citation} <f:translate key="templates.about.citation.withContributionsOf" extensionName="chf_base" /> {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}{f:if(condition: '{authorshipIterator.index} == {penultimateContributorNumber}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')}</f:variable>
                        <f:variable name="firstContributorListed">1</f:variable>
                    </f:else>
                </f:if>
            </f:case>
            <f:case value="rightsOwner">
                <f:if condition="{firstRightsOwnerListed}">
                    <f:then>
                        <f:variable name="citation">{citation} {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}{f:if(condition: '{authorshipIterator.index} == {penultimateRightsOwnerNumber}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')}</f:variable>
                    </f:then>
                    <f:else>
                        <f:variable name="citation">{citation} <f:translate key="templates.about.citation.rightsOwnedBy" extensionName="chf_base" /> {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}{f:if(condition: '{authorshipIterator.index} == {penultimateRightsOwnerNumber}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')}</f:variable>
                        <f:variable name="firstRightsOwnerListed">1</f:variable>
                    </f:else>
                </f:if>
            </f:case>
        </f:switch>
    </f:for>

    <f:if condition="{revisionNumber}">
        <f:variable name="citation">{citation} <f:translate key="templates.about.online.revision" extensionName="chf_base" arguments="{0: revisionNumber}" />,</f:variable>
    </f:if>

    <f:for each="{extent}" as="ext">
        <f:switch expression="{ext.type}">
            <f:case value="volume">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.volume" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="issue">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.issue" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="edition">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.edition" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="version">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.version" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
        </f:switch>
    </f:for>

    <f:if condition="!{publisher}">
        <f:for each="{authorshipRelation}" as="authorship" iteration="authorshipIterator">
            <f:if condition="{authorship.role} == 'publisher'">
                <f:if condition="{publisher}">
                    <f:then>
                        <f:variable name="publisher">{publisher}{f:if(condition: '{authorshipIterator.index} == {penultimatePublisherNumber + 1}', then: '{f:translate(key: \'templates.generic.and\', extensionName: \'chf_base\')}', else: ',')} {f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}</f:variable>   
                    </f:then>
                    <f:else>
                        <f:variable name="publisher">{f:if(condition: authorship.corporateName, then: authorship.corporateName, else: '{authorship.forename} {authorship.surname}')}</f:variable>   
                    </f:else>
                </f:if>
            </f:if>
        </f:for>
    </f:if>

    <f:if condition="{publisher}">
        <f:variable name="citation">{citation} {publisher},</f:variable>
    </f:if>

    <f:if condition="{revisionDate}">
        <f:then>
            <f:variable name="citation">{citation} {revisionDate},</f:variable>
        </f:then>
        <f:else>
            <f:if condition="{date}">
                <f:variable name="citation">{citation} {date},</f:variable>
            </f:if>
        </f:else>
    </f:if>

    <f:for each="{extent}" as="ext">
        <f:switch expression="{ext.type}">
            <f:case value="chapterNumbers">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.chapterNumbers" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="pageNumbers">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.pageNumbers" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="columnNumbers">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.columnNumbers" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="paragraphNumbers">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.paragraphNumbers" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
        </f:switch>
    </f:for>

    <f:for each="{extent}" as="ext">
        <f:switch expression="{ext.type}">
            <f:case value="isbn">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.isbn" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="issn">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.issn" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="url">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.url" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="urn">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.urn" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
            <f:case value="doi">
                <f:variable name="citation">{citation} <f:translate key="templates.about.citation.doi" extensionName="chf_base" /> {ext.text},</f:variable>
            </f:case>
        </f:switch>
    </f:for>

    <f:if condition="{iri} && {apiPageUid}">
        <f:then>
            <f:variable name="citation">{citation} URL: {f:uri.page(pageUid: apiPageUid, absolute: 1)}/{iri}.</f:variable>
        </f:then>
        <f:else>
            <f:variable name="citation">{citation} URL: {f:uri.page(absolute: 1)}.</f:variable>
        </f:else>
    </f:if>

    <f:if condition="!{date}">
        <f:variable name="citation">{citation} <f:translate key="templates.generic.accessed" extensionName="chf_base" arguments="{0: access}" />.</f:variable>
    </f:if>

    <f:format.raw>{citation}</f:format.raw>
</html>