<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
                <section class="mdlr-variant-wider">

                    <h4><f:translate key="templates.about.data" extensionName="chf_base"/></h4>

                    <ul class="mdlr-buttonrow mdlr-variant-center">
                        <li>
                            <f:link.page pageType="100" class="mdlr-button" role="button" title="{f:translate(key: 'templates.generic.retrieve', extensionName: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.jsonld.plain\\\', extensionName: \\\'chf_base\\\')}\'}')}"><span><f:format.raw><f:translate key="templates.generic.retrieve.jsonld" extensionName="chf_base"/></f:format.raw></span></f:link.page>
                        </li>
                        <li>
                            <f:link.page pageType="101" class="mdlr-button" role="button" title="{f:translate(key: 'templates.generic.retrieve', extensionName: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.rdfxml.plain\\\', extensionName: \\\'chf_base\\\')}\'}')}"><span><f:format.raw><f:translate key="templates.generic.retrieve.rdfxml" extensionName="chf_base"/></f:format.raw></span></f:link.page>
                        </li>
                        <li>
                            <f:link.page pageType="102" class="mdlr-button" role="button" title="{f:translate(key: 'templates.generic.retrieve', extensionName: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.turtle.plain\\\', extensionName: \\\'chf_base\\\')}\'}')}"><span><f:format.raw><f:translate key="templates.generic.retrieve.turtle" extensionName="chf_base"/></f:format.raw></span></f:link.page>
                        </li>
                    </ul>

                    <!--<p class="mdlr-note">Die Nutzung der Metadaten ist per <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0 1.0</a>-Lizenz ohne Einschränkungen gestattet. Der Beitrag selbst kann per <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> unter Angabe der Autorschaft ohne weitere Einschränkungen genutzt werden. Alle Daten dieser Webanwendung sind auch <a href="#">per API</a> abrufbar.</p>-->

                </section>
</html>