<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <section class="mdlr-pattern-slot-a">
        <h4 class="mdlr-variant-tacit"><f:translate key="templates.about.properties" extensionName="chf_base"/></h4>
        <dl class="mdlr-boxedlist">
            <f:if condition="{page.pageRecord.author}">
                <div>
                    <dt><f:translate key="templates.about.author" extensionName="chf_base"/></dt>
                    <dd>
                        <f:if condition="{page.pageRecord.author_email}">
                            <f:link.email email="{page.pageRecord.author_email}" rel="author" class="mdlr-button mdlr-variant-tinyicon mdlr-variant-round mdlr-variant-unobserved mdlr-variant-sidelined" title="{f:translate(key: 'templates.generic.email', extensionName: 'chf_base')}">
                                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <use href="#icon-email"/>
                                </svg>
                                <span>{page.pageRecord.author}</span>
                            </f:link.email>
                        </f:if>
                        {page.pageRecord.author}
                    </dd>
                </div>
            </f:if>
            <!--<div>
                <dt><f:translate key="templates.about.photographer" extensionName="chf_base"/></dt>
                <dd></dd>
            </div>
            <div>
                <dt><f:translate key="templates.about.editor" extensionName="chf_base"/></dt>
                <dd></dd>
            </div>
            <div>
                <dt><f:translate key="templates.about.publisher" extensionName="chf_base"/></dt>
                <dd></dd>
            </div>-->
            <div>
                <dt><f:translate key="templates.about.rights" extensionName="chf_base"/></dt>
                <dd>
                    <button class="mdlr-variant-tinyicon mdlr-variant-round mdlr-variant-unobserved mdlr-variant-sidelined mdlr-function-copy" data-target="{settings.chf.rights.uri}" data-success="{f:translate(key: 'templates.generic.copy.uri.success', extensionName: 'chf_base')}" data-failure="{f:translate(key: 'templates.generic.copy.uri.failure', extensionName: 'chf_base')}" title="{f:translate(key: 'templates.generic.copy.uri.hint', extensionName: 'chf_base')}">
                        <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <use href="#icon-copy"/>
                        </svg>
                        <span><f:format.raw><f:translate key="templates.generic.copy.uri" extensionName="chf_base"/></f:format.raw></span>
                    </button>
                    <f:link.external uri="{settings.chf.rights.uri}" target="_blank" rel="license">
                        <f:if condition="{settings.chf.rights.uri} == 'http://rightsstatements.org/vocab/InC/1.0/'">
                            <f:then>
                                <f:translate key="templates.about.rights.copyright" extensionName="chf_base"/>
                            </f:then>
                            <f:else>
                                <f:uri.external uri="{settings.chf.rights.uri}"/>
                            </f:else>
                        </f:if>
                    </f:link.external>
                </dd>
            </div>
            <!--<div>
                <dt><f:translate key="templates.about.print" extensionName="chf_base"/></dt>
                <dd>2003 (Band XVII, Abb. 10)</dd>
            </div>-->
            <f:if condition="{page.pageRecord.lastUpdated}">
                <f:then>
                    <div>
                        <dt><f:translate key="templates.about.online" extensionName="chf_base"/></dt>
                        <dd><time datetime="{page.pageRecord.lastUpdated -> f:format.date(format: '%Y-%m-%d')}"><f:format.date pattern="LONGDATE">{page.pageRecord.lastUpdated}</f:format.date></time></dd>
                    </div>
                </f:then>
                <f:else>
                    <div>
                        <dt><f:translate key="templates.about.access" extensionName="chf_base"/></dt>
                        <dd><time datetime="{f:format.date(date: 'today', format: '%Y-%m-%d')}"><f:format.date pattern="LONGDATE">today</f:format.date></time></dd>
                    </div>
                </f:else>
            </f:if>
            <f:if condition="{page.pageRecord.abstract} || {page.pageRecord.description}">
                <div>
                    <dt><f:translate key="templates.about.digest" extensionName="chf_base"/></dt>
                    <dd>
                        <f:if condition="{page.pageRecord.abstract}">
                            <f:then>{page.pageRecord.abstract}</f:then>
                            <f:else>{page.pageRecord.description}</f:else>
                        </f:if>
                    </dd>
                </div>
            </f:if>
        </dl>
    </section>

    <f:comment><f:translate key="templates.main.rights" extensionName="chf_base"/>
    <!--<div>
        <dt><f:translate key="templates.main.rights.credit" extensionName="chf_base"/></dt>
        <dd>Credit string (role.allContent)</dd>
    </div>
    <div>
        <dt><f:translate key="object.abstractRelation.role.metadata" extensionName="chf_base"/></dt>
        <dd>Author, link to licence</dd>
    </div>
    <div>
        <dt><f:translate key="object.abstractRelation.role.text" extensionName="chf_base"/></dt>
        <dd>Author, link to licence</dd>
    </div>
    <div>
        <dt><f:translate key="object.abstractRelation.role.media" extensionName="chf_base"/></dt>
        <dd>Author, link to licence</dd>
    </div>-->
    </f:comment>

</html>