<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Permalink variants and citation suggestion for the current page or record.</f:comment>

    <f:argument name="iri" type="string" optional="{true}" default="" description="Page-wide identifier of the page or record" />
    <f:argument name="rightsUri" type="string" optional="{true}" default="" description="URI of the rights situation of this page or record" />
    <f:argument name="rightsLabel" type="string" optional="{true}" default="" description="Label of the rights situation of this page or record" />
    <f:argument name="licenseRelation" type="array" optional="{true}" default="{}" description="License of the page or record" />
    <f:argument name="titleSubtitle" type="string" optional="{false}" description="Combined title and subtitle of the page or record" />
    <f:argument name="author" type="string" optional="{true}" default="" description="Author of the page or record" />
    <f:argument name="authorshipRelation" type="array" optional="{true}" default="{}" description="Authorship of the page or record" />
    <f:argument name="publication" type="string" optional="{true}" default="" description="Name of the publication this page or record is part of" />
    <f:argument name="resource" type="string" optional="{true}" default="" description="Name of the resource this page or record is part of" />
    <f:argument name="publisher" type="string" optional="{true}" default="" description="Publisher of this web application" />
    <f:argument name="year" type="string" optional="{false}" description="Year this page or record was published in" />
    <f:argument name="date" type="string" optional="{false}" description="Date this page or record was published on" />
    <f:argument name="revisionNumber" type="int" optional="{true}" default="0" description="Number of the current page or record revision" />
    <f:argument name="revisionDate" type="string" optional="{true}" default="" description="Date this page or record was last revised on" />
    <f:argument name="access" type="string" optional="{false}" description="Date this page or record was accessed on" />
    <f:argument name="extent" type="array" optional="{true}" default="{}" description="Identifier or dimension of the page or record" />
    <f:argument name="citationStyle" type="string" optional="{false}" description="Citation style to use in this web app" />
    <f:argument name="language" type="string" optional="{true}" default="" description="Language of the resource" />
    <f:argument name="apiPageUid" type="int" optional="{true}" default="0" description="Whether to provide permalinks to records" />

    <mdlr:template.area semanticType="section" areas="{0: 'slot-b'}">

        <mdlr:atom.heading text="{f:translate(key: 'templates.about.reference', extensionName: 'chf_base')}" level="4" variants="{0: 'tacit-above-600'}" />

        <mdlr:molecule.boxedData.wrap>

            <f:for each="{extent}" as="ext">
                <f:switch expression="{ext.type}">
                    <f:case value="doi">
                        <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.doi', extensionName: 'chf_base')}">
                            <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.doi', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.copy.doi.hint', extensionName: 'chf_base')}" data="{target: ext.text, success: '{f:translate(key: \'templates.generic.copy.doi.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.doi.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                            <f:link.external uri="https://doi.org/{ext.text}">{ext.text}</f:link.external>
                        </mdlr:molecule.boxedData.item>
                    </f:case>
                    <f:case value="url">
                        <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.url', extensionName: 'chf_base')}">
                            <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.url', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.copy.url.hint', extensionName: 'chf_base')}" data="{target: ext.text, success: '{f:translate(key: \'templates.generic.copy.url.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.url.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                            <f:link.external uri="{ext.text}">{ext.text}</f:link.external>
                        </mdlr:molecule.boxedData.item>
                    </f:case>
                    <f:case value="urn">
                        <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.urn', extensionName: 'chf_base')}">
                            <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.urn', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.copy.urn.hint', extensionName: 'chf_base')}" data="{target: ext.text, success: '{f:translate(key: \'templates.generic.copy.urn.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.urn.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                            {ext.text}
                        </mdlr:molecule.boxedData.item>
                    </f:case>
                    <f:case value="issn">
                        <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.issn', extensionName: 'chf_base')}">
                            <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.issn', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.copy.issn.hint', extensionName: 'chf_base')}" data="{target: ext.text, success: '{f:translate(key: \'templates.generic.copy.issn.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.issn.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                            {ext.text}
                        </mdlr:molecule.boxedData.item>
                    </f:case>
                    <f:case value="isbn">
                        <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.isbn', extensionName: 'chf_base')}">
                            <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.isbn', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.copy.isbn.hint', extensionName: 'chf_base')}" data="{target: ext.text, success: '{f:translate(key: \'templates.generic.copy.isbn.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.isbn.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                            {ext.text}
                        </mdlr:molecule.boxedData.item>
                    </f:case>
                </f:switch>
            </f:for>

            <f:if condition="{iri} && {apiPageUid}">
                <f:then>
                    <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.permalink', extensionName: 'chf_base')}">
                        <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.permalink', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.copy.permalink.hint', extensionName: 'chf_base')}" data="{target: '{f:uri.page(pageUid: apiPageUid, absolute: 1)}/{iri}', success: '{f:translate(key: \'templates.generic.copy.permalink.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.permalink.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                        <f:link.external uri="{f:uri.page(pageUid: apiPageUid, absolute: 1)}/{iri}" rel="canonical">{f:uri.page(pageUid: apiPageUid, absolute: 1)}/{iri}</f:link.external>
                    </mdlr:molecule.boxedData.item>
                </f:then>
                <f:else>
                    <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.url', extensionName: 'chf_base') -> f:format.raw()}">
                        <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.url', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.copy.url.hint', extensionName: 'chf_base')}" data="{target: '{f:uri.page(absolute: 1)}', success: '{f:translate(key: \'templates.generic.copy.url.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.url.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                        <f:link.page rel="canonical"><f:uri.page absolute="true" /></f:link.page>
                    </mdlr:molecule.boxedData.item>
                </f:else>
            </f:if>

            <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.citation', extensionName: 'chf_base')}">
                <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.citation', extensionName: 'chf_base')}" data="{target: '{f:render(partial: \'About/Citation\', arguments: \'{iri: iri, titleSubtitle: titleSubtitle, author: author, authorshipRelation: authorshipRelation, publication: publication, resource: resource, publisher: publisher, year: year, date: date, revisionNumber: revisionNumber, revisionDate: revisionDate, access: access, extent: extent, citationStyle: citationStyle, apiPageUid: apiPageUid, italics: 0}\') -> f:format.trim()}', success: '{f:translate(key: \'templates.generic.copy.citation.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.citation.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                <f:format.raw><f:format.trim><f:render partial="About/Citation" arguments="{iri: iri, titleSubtitle: titleSubtitle, author: author, authorshipRelation: authorshipRelation, publication: publication, resource: resource, publisher: publisher, year: year, date: date, revisionNumber: revisionNumber, revisionDate: revisionDate, access: access, extent: extent, citationStyle: citationStyle, apiPageUid: apiPageUid, italics: 1}" /></f:format.trim></f:format.raw>
            </mdlr:molecule.boxedData.item>

            <f:if condition="{rightsUri}">
                <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.reuse', extensionName: 'chf_base')}">
                    <mdlr:atom.button.function function="copy" variants="{0: 'tinyicon', 1: 'unobserved', 2: 'sidelined'}" text="{f:translate(key: 'templates.generic.copy.uri', extensionName: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.copy.uri.hint', extensionName: 'chf_base')}" data="{target: rightsUri, success: '{f:translate(key: \'templates.generic.copy.uri.success\', extensionName: \'chf_base\')}', failure: '{f:translate(key: \'templates.generic.copy.uri.failure\', extensionName: \'chf_base\')}'}" icon="copy" />
                    <f:link.external uri="{rightsUri}" target="_blank" rel="license">
                        <f:if condition="{rightsLabel}">
                            <f:then>{rightsLabel}</f:then>
                            <f:else>{rightsUri}</f:else>
                        </f:if>
                    </f:link.external>
                </mdlr:molecule.boxedData.item>
            </f:if>

            <f:if condition="{licenseRelation}">
                <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.reuse', extensionName: 'chf_base')}">
                    <mdlr:atom.list.wrap>
                        <f:for each="{licenseRelation}" as="license">
                            <mdlr:atom.list.item>
                                <f:link.external uri="{f:uri.page(pageUid: apiPageUid, absolute: 1)}/{license.iri}">{f:if(condition: license.text, then: '{license.code}, {license.text}', else: license.code)}</f:link.external>
                                <f:switch expression="{license.role}">
                                    <f:case value="allContent"><f:comment>(<f:translate key="templates.about.reuse.allContent" extensionName="chf_base" />)</f:comment></f:case>
                                    <f:case value="metadata">(<f:translate key="templates.about.reuse.metadata" extensionName="chf_base" />)</f:case>
                                    <f:case value="text">(<f:translate key="templates.about.reuse.text" extensionName="chf_base" />)</f:case>
                                    <f:case value="media">(<f:translate key="templates.about.reuse.media" extensionName="chf_base" />)</f:case>
                                </f:switch>
                            </mdlr:atom.list.item>
                        </f:for>
                    </mdlr:atom.list.wrap>
                </mdlr:molecule.boxedData.item>
            </f:if>

            <f:if condition="{language}">
                <mdlr:molecule.boxedData.item text="{f:translate(key: 'templates.about.language', extensionName: 'chf_base')}">
                    {language}
                </mdlr:molecule.boxedData.item>
            </f:if>

        </mdlr:molecule.boxedData.wrap>

    </mdlr:template.area>
</html>