<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>List of serialisations available for the current page or record.</f:comment>

    <f:argument name="serialisations" type="array" optional="{true}" default="{}" description="Serialisations to show for the current page or record" />
    <f:argument name="apiInfoPageUid" type="int" optional="{true}" default="0" description="Whether to show a note with a link to a general API page" />

    <f:if condition="{serialisations}">
        <mdlr:template.area semanticType="section" areas="{0: 'slot-c'}">

            <mdlr:atom.heading text="{f:translate(key: 'templates.about.serializations', domain: 'chf_base') -> f:format.raw()}" level="4" />

            <mdlr:molecule.buttonRow.wrap>
                <f:for each="{serialisations}" as="serialisation">
                    <f:switch expression="{serialisation}">

                        <f:case value="csv">
                            <mdlr:molecule.buttonRow.item>
                                <f:comment><mdlr:atom.button.current pageType="2905372363" contentType="text/csv" text="{f:translate(key: 'templates.generic.retrieve.csv', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.csv.plain\\\', domain: \\\'chf_base\\\')}\'}')}" rel="alternate" /></f:comment>
                                <mdlr:atom.button.disabled text="{f:translate(key: 'templates.generic.retrieve.csv', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.csv.plain\\\', domain: \\\'chf_base\\\')}\'}')}" />
                            </mdlr:molecule.buttonRow.item>
                        </f:case>

                        <f:case value="json">
                            <mdlr:molecule.buttonRow.item>
                                <f:comment><mdlr:atom.button.current pageType="5146337671" contentType="application/json" text="{f:translate(key: 'templates.generic.retrieve.json', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.json.plain\\\', domain: \\\'chf_base\\\')}\'}')}" rel="alternate" /></f:comment>
                                <mdlr:atom.button.disabled text="{f:translate(key: 'templates.generic.retrieve.json', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.json.plain\\\', domain: \\\'chf_base\\\')}\'}')}" />
                            </mdlr:molecule.buttonRow.item>
                        </f:case>

                        <f:case value="markdown">
                            <mdlr:molecule.buttonRow.item>
                                <f:comment><mdlr:atom.button.current pageType="7796094845" contentType="text/markdown" text="{f:translate(key: 'templates.generic.retrieve.markdown', domain: 'chf_base')}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.markdown\\\', domain: \\\'chf_base\\\')}\'}')}" rel="alternate" /></f:comment>
                                <mdlr:atom.button.disabled text="{f:translate(key: 'templates.generic.retrieve.markdown', domain: 'chf_base')}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.markdown\\\', domain: \\\'chf_base\\\')}\'}')}" />
                            </mdlr:molecule.buttonRow.item>
                        </f:case>

                        <f:case value="teixml">
                            <mdlr:molecule.buttonRow.item>
                                <f:comment><mdlr:atom.button.current pageType="9631552583" contentType="application/tei+xml" text="{f:translate(key: 'templates.generic.retrieve.teixml', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.teixml.plain\\\', domain: \\\'chf_base\\\')}\'}')}" rel="alternate" /></f:comment>
                                <mdlr:atom.button.disabled text="{f:translate(key: 'templates.generic.retrieve.teixml', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.teixml.plain\\\', domain: \\\'chf_base\\\')}\'}')}" />
                            </mdlr:molecule.buttonRow.item>
                        </f:case>

                        <f:case value="rdfxml">
                            <mdlr:molecule.buttonRow.item>
                                <f:comment><mdlr:atom.button.current pageType="1295536366" contentType="application/rdf+xml" text="{f:translate(key: 'templates.generic.retrieve.rdfxml', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.rdfxml.plain\\\', domain: \\\'chf_base\\\')}\'}')}" rel="alternate" /></f:comment>
                                <mdlr:atom.button.disabled text="{f:translate(key: 'templates.generic.retrieve.rdfxml', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.rdfxml.plain\\\', domain: \\\'chf_base\\\')}\'}')}" />
                            </mdlr:molecule.buttonRow.item>
                        </f:case>

                        <f:case value="turtle">
                            <mdlr:molecule.buttonRow.item>
                                <f:comment><mdlr:atom.button.current pageType="2867941442" contentType="text/turtle" text="{f:translate(key: 'templates.generic.retrieve.turtle', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.turtle.plain\\\', domain: \\\'chf_base\\\')}\'}')}" rel="alternate" /></f:comment>
                                <mdlr:atom.button.disabled text="{f:translate(key: 'templates.generic.retrieve.turtle', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.turtle.plain\\\', domain: \\\'chf_base\\\')}\'}')}" />
                            </mdlr:molecule.buttonRow.item>
                        </f:case>

                        <f:case value="jsonld">
                            <mdlr:molecule.buttonRow.item>
                                <f:comment><mdlr:atom.button.current pageType="6024975381" contentType="application/ld+json" text="{f:translate(key: 'templates.generic.retrieve.jsonld', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.jsonld.plain\\\', domain: \\\'chf_base\\\')}\'}')}" rel="alternate" /></f:comment>
                                <mdlr:atom.button.disabled text="{f:translate(key: 'templates.generic.retrieve.jsonld', domain: 'chf_base') -> f:format.raw()}" hint="{f:translate(key: 'templates.generic.retrieve', domain: 'chf_base', arguments: '{0: \'{f:translate(key: \\\'templates.generic.retrieve.jsonld.plain\\\', domain: \\\'chf_base\\\')}\'}')}" />
                            </mdlr:molecule.buttonRow.item>
                        </f:case>

                    </f:switch>
                </f:for>
            </mdlr:molecule.buttonRow.wrap>

            <f:if condition="{apiInfoPageUid}">
                <mdlr:atom.note>
                    <f:translate key="templates.about.api.before" domain="chf_base" /><f:link.page pageUid="{apiInfoPageUid}"><f:format.raw><f:translate key="templates.about.api.link" domain="chf_base" /></f:format.raw></f:link.page><f:translate key="templates.about.api.after" domain="chf_base" />
                </mdlr:atom.note>
            </f:if>

        </mdlr:template.area>
    </f:if>
</html>