<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:chfbase="http://typo3.org/ns/Digicademy/CHFBase/ViewHelpers" data-namespace-typo3-fluid="true">
    <chfbase:headData>

        <!--App-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{f:uri.resource(path: '{settings.chf.favicon.main}', useCacheBusting: 0)}">
        <link rel="mask-icon" href="{f:uri.resource(path: '{settings.chf.favicon.mask}', useCacheBusting: 0)}" color="{settings.chf.color.highlight}">
        <link rel="apple-touch-icon" href="{f:uri.resource(path: '{settings.chf.favicon.app}', useCacheBusting: 0)}">
        <f:comment><!--<link rel="manifest" href="manifest.json">--></f:comment>
        <meta name="theme-color" content="{settings.chf.color.highlight}">
        <meta name="apple-mobile-web-app-status-bar-style" content="{settings.chf.color.highlight}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{f:if(condition: '{language.websiteTitle}', then: '{language.websiteTitle}', else: '{site.configuration.websiteTitle}')}">

        <!--Highwire-->
        <meta name="citation_title" content="{page.pageRecord.title}">
        <f:if condition="{page.pageRecord.lastUpdated}">
            <meta name="citation_date" content="{page.pageRecord.lastUpdated -> f:format.date(pattern: 'yyyy/MM/dd')}">
        </f:if>
        <f:comment><!--<meta name="citation_journal_title" content="">--></f:comment>
        <f:comment><!--<meta name="citation_book_title" content="">--></f:comment>
        <meta name="citation_inbook_title" content="{f:if(condition: '{language.websiteTitle}', then: '{language.websiteTitle}', else: '{site.configuration.websiteTitle}')}">
        <f:comment><!--<meta name="citation_volume" content="">--></f:comment>
        <f:comment><!--<meta name="citation_issue" content="">--></f:comment>
        <f:comment><!--<meta name="citation_series_title" content="">--></f:comment>
        <f:if condition="{settings.chf.citation.publisher}">
            <meta name="citation_publisher" content="{settings.chf.citation.publisher}">
        </f:if>
        <f:comment><!--<meta name="citation_doi" content="">--></f:comment>
        <f:comment><!--<meta name="citation_isbn" content="">--></f:comment>
        <f:comment><!--<meta name="citation_issn" content="">--></f:comment>
        <f:comment><!--<meta name="citation_pmid" content="">--></f:comment>
        <meta name="citation_public_url" content="{f:uri.page(absolute: 'true')}">
        <f:if condition="{page.pageRecord.abstract} || {page.pageRecord.description}">
            <meta name="citation_abstract" content="{f:if(condition: '{page.pageRecord.abstract}', then: '{page.pageRecord.abstract}', else: '{page.pageRecord.description}')}">
        </f:if>
        <f:for each="{languageMenu}" as="menuItem">
            <f:if condition="{menuItem.active}">
                <meta name="citation_language" content="{site.languages.{menuItem.languageUid}.hreflang}">
            </f:if>
        </f:for>
        <f:comment><!--<meta name="citation_conference_title" content="">--></f:comment>
        <f:comment><!--<meta name="citation_dissertation_institution" content="">--></f:comment>
        <f:comment><!--<meta name="citation_technical_report_institution" content="">--></f:comment>
        <f:comment><!--<meta name="citation_technical_report_number" content="">--></f:comment>
        <f:if condition="{page.pageRecord.author}">
            <meta name="citation_author" content="{page.pageRecord.author}">
        </f:if>
        <f:comment><!--<meta name="citation_editor" content="">--></f:comment>
        <f:if condition="{page.pageRecord.author}">
            <meta name="citation_keywords" content="{page.pageRecord.keywords}">
        </f:if>

        <!--OpenGraph-->
        <meta property="og:determiner" content="">
        <meta property="og:title" content="{page.pageRecord.title}">
        <f:if condition="{page.pageRecord.abstract} || {page.pageRecord.description}">
            <meta property="og:description" content="{f:if(condition: '{page.pageRecord.abstract}', then: '{page.pageRecord.abstract}', else: '{page.pageRecord.description}')}">
        </f:if>
        <meta property="og:type" content="website">
        <f:for each="{images}" as="image" iteration="index">
            <f:if condition="{index.isFirst}">
                <meta property="og:image" content="{f:uri.image(image: '{image}', width: '1200c', height: '630c', fileExtension: 'jpg')}">
            </f:if>
        </f:for>
        <f:comment><!--<meta property="og:audio" content="">--></f:comment>
        <f:comment><!--<meta property="og:video" content="">--></f:comment>
        <meta property="og:url" content="{f:uri.page(absolute: 'true')}">
        <f:for each="{languageMenu}" as="menuItem">
            <f:if condition="{menuItem.active}">
                <f:then>
                    <meta property="og:locale" content="{site.languages.{menuItem.languageUid}.hreflang}">
                </f:then>
                <f:else>
                    <meta property="og:locale:alternate" content="{site.languages.{menuItem.languageUid}.hreflang}">
                </f:else>
            </f:if>
        </f:for>
        <meta property="og:site_name" content="{f:if(condition: '{language.websiteTitle}', then: '{language.websiteTitle}', else: '{site.configuration.websiteTitle}')}">

        <!--Serialisations-->
        <link rel="alternate" type="application/ld+json" href="{f:uri.page(pageType: '6024975381')}" title="{f:translate(key: 'templates.generic.retrieve.jsonld.plain', extensionName: 'chf_base')}">
        <link rel="alternate" type="text/turtle" href="{f:uri.page(pageType: '2867941442')}" title="{f:translate(key: 'templates.generic.retrieve.turtle.plain', extensionName: 'chf_base')}">
        <link rel="alternate" type="application/rdf+xml" href="{f:uri.page(pageType: '1295536366')}" title="{f:translate(key: 'templates.generic.retrieve.rdfxml.plain', extensionName: 'chf_base')}">
        <link rel="alternate" type="application/tei+xml" href="{f:uri.page(pageType: '9631552583')}" title="{f:translate(key: 'templates.generic.retrieve.teixml.plain', extensionName: 'chf_base')}">

        <!--Embedded JSON-LD-->
    </chfbase:headData>
</html>