<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:variable name="listContents">0</f:variable>
    <f:for each="{contentElements}" as="contentElement">
        <f:if condition="{contentElement.header} && {contentElement.sectionIndex}">
            <f:variable name="listContents">1</f:variable>
        </f:if>
    </f:for>
    <f:if condition="{listContents}">
        <li class="mdlr-dropdown-wrapper">
            <button id="toolbar-toc-handle" class="mdlr-variant-icon mdlr-function-dropdown" title="{f:translate(key: 'templates.toolbar.toc', extensionName: 'chf_base')}" aria-controls="toolbar-toc-content" aria-haspopup="true" aria-expanded="false">
                <span><f:translate key="templates.toolbar.toc" extensionName="chf_base"/></span>
                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <use href="#icon-toc"/>
                </svg>
            </button>
            <ul class="mdlr-dropdown mdlr-variant-simplehierarchy" id="toolbar-toc-content" role="listbox" aria-labelledby="toolbar-toc-handle" tabindex="-1">
                <f:for each="{contentElements}" as="contentElement" iteration="index">
                    <f:if condition="{contentElement.header} && {contentElement.sectionIndex}">
                        <li>
                            <f:switch expression="{contentElement.header_layout}">
                                <f:case value="100"/>
                                <f:case value="4">
                                    <a href="#c{contentElement.uid}" class="mdlr-button mdlr-variant-mini mdlr-variant-unobtrusive mdlr-variant-indent-1">
                                        <span>{contentElement.header}</span>
                                    </a>
                                </f:case>
                                <f:case value="5">
                                    <a href="#c{contentElement.uid}" class="mdlr-button mdlr-variant-mini mdlr-variant-unobtrusive mdlr-variant-indent-2">
                                        <span>{contentElement.header}</span>
                                    </a>
                                </f:case>
                                <f:defaultCase>
                                    <a href="#c{contentElement.uid}" class="mdlr-button mdlr-variant-mini mdlr-variant-unobtrusive">
                                        <span>{contentElement.header}</span>
                                    </a>
                                </f:defaultCase>
                            </f:switch>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </li>
    </f:if>
</html>