<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <ul class="mdlr-buttonrow mdlr-variant-separate">
        <f:render partial="Rights/Contents" arguments="{_all}"/>
        <f:if condition="{page.pageRecord.author}">
            <li>
                <button class="mdlr-variant-round mdlr-variant-icon mdlr-function-copy" data-target="{f:translate(key: 'templates.about.author', extensionName: 'chf_base')}: {page.pageRecord.author}" data-success="{f:translate(key: 'templates.main.rights.copy.success', extensionName: 'chf_base')}" data-failure="{f:translate(key: 'templates.main.rights.copy.failure', extensionName: 'chf_base')}" title="{f:translate(key: 'templates.main.rights.copy', extensionName: 'chf_base')}">
                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#icon-attribution"/>
                    </svg>
                    <span><f:translate key="templates.main.rights.copy" extensionName="chf_base"/></span>
                </button>
            </li>
        </f:if>
        <li>
            <button id="main-rights-share" class="mdlr-variant-round mdlr-variant-icon mdlr-function-modal" aria-controls="share" title="{f:translate(key: 'templates.main.rights.share', extensionName: 'chf_base')}">
                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <use href="#icon-share"/>
                </svg>
                <span><f:translate key="templates.main.rights.share" extensionName="chf_base"/></span>
            </button>
        </li>
    </ul>
</html>