<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <aside id="aside-notifications" class="mdlr-toasts" aria-hidden="true" role="status"><div>

        <h2>Benachrichtigungen</h2>

        <p></p>
        <button class="mdlr-variant-icon mdlr-variant-round mdlr-variant-transparent mdlr-function-closetoast" title="Benachrichtigung schließen">
            <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <use href="#icon-close"/>
            </svg>
            <span>Benachrichtigung schließen</span>
        </button>

    </div></aside>
</html>