<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <aside id="aside-watchlist" class="mdlr-modal" aria-hidden="true" role="dialog"><div>

        <div>
            <h2>Merkliste</h2>
            <button class="mdlr-variant-icon mdlr-variant-round mdlr-variant-transparent mdlr-function-closemodal" title="Dialog schließen">
                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <use href="#icon-close"/>
                </svg>
                <span>Dialog schließen</span>
            </button>
        </div>

        <div class="mdlr-empty">
            <svg width="160" height="160" viewBox="0 0 160 160" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <use href="#illustration-watchlist"/>
            </svg>
            <p>Die Merkliste ist noch leer. Neue Ressourcen können Sie durch Klick auf ein Stern-Symbol hinzufügen.</p>
        </div>

    </div></aside>
</html>