<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <mdlr:page.section semanticType="footer" id="footer" variants="{0: 'even', 1: 'wide'}">
        <h2 class="mdlr-variant-tacit"><f:translate key="templates.footer" extensionName="chf_base"/></h2>
        <f:if condition="!{settings.chf.service.page}">
            <f:then>
                <f:if condition="!{settings.chf.partners.urls} || !{settings.chf.partners.logos} || !{settings.chf.partners.names}">
                    <f:then>
                        <f:variable name="variants" value="{0: 'clasped', 1: 'clasped-missing-b', 2: 'clasped-missing-c'}" />
                    </f:then>
                    <f:else>
                        <f:variable name="variants" value="{0: 'clasped', 1: 'clasped-missing-b'}" />
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:if condition="!{settings.chf.partners.urls} || !{settings.chf.partners.logos} || !{settings.chf.partners.names}">
                    <f:then>
                        <f:variable name="variants" value="{0: 'clasped', 1: 'clasped-missing-c'}" />
                    </f:then>
                    <f:else>
                        <f:variable name="variants" value="{0: 'clasped'}" />
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
        <mdlr:template.pattern variants="{variants}">

<f:render partial="Footer/Name" arguments="{_all}"/>

<f:render partial="Footer/Service" arguments="{_all}"/>

<f:render partial="Footer/Social" arguments="{_all}"/>

<f:render partial="Footer/Partners" arguments="{_all}"/>

        </mdlr:template.pattern>
    </mdlr:page.section>
</html>