<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <footer id="footer" class="mdlr-section mdlr-variant-even mdlr-variant-wide">
        <h2 class="mdlr-variant-tacit"><f:translate key="templates.footer" extensionName="chf_base"/></h2>
        <div class="mdlr-pattern mdlr-variant-clasped {f:if(condition: '!{settings.chf.service.page}', then: 'mdlr-variant-missing-b')} {f:if(condition: '!{settings.chf.partners.urls} || !{settings.chf.partners.logos} || !{settings.chf.partners.names}', then: 'mdlr-variant-missing-c')}">

<f:render partial="Footer/Name" arguments="{_all}"/>

<f:render partial="Footer/Service" arguments="{_all}"/>

<f:render partial="Footer/Social" arguments="{_all}"/>

<f:render partial="Footer/Partners" arguments="{_all}"/>

        </div>
    </footer>
</html>