<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{settings.chf.partners.urls} && {settings.chf.partners.logos} && {settings.chf.partners.names}">
        <mdlr:template.area semanticType="section" id="footer-partners" areas="{0: 'slot-c', 1: 'align-left-above-900', 2: 'align-middle'}">
            <h3 class="mdlr-variant-tacit"><f:translate key="templates.footer.partners" extensionName="chf_base"/></h3>
            <ul class="mdlr-imagerow">
            <mdlr:molecule.imageRow.wrap>
                <f:for each="{settings.chf.partners.urls}" as="url" key="index">
                    <mdlr:molecule.imageRow.item>
                        <f:link.external uri="{url}" title="{settings.chf.partners.names.{index}}" class="mdlr-imagelink mdlr-variant-unobtrusive" target="_blank">
                            <span>{settings.chf.partners.names.{index}}</span>
                            <img src="{f:uri.image(src: '{settings.chf.partners.logos.{index}}')}" alt="{settings.chf.partners.names.{index}}">
                        </f:link.external>
                    </mdlr:molecule.imageRow.item>
                </f:for>
            </mdlr:molecule.imageRow.wrap>
        </mdlr:template.area>
    </f:if>
</html>