<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Displays a large web app logo.</f:comment>

    <f:argument name="webApp" type="string" optional="{false}" description="Website title to use as alternative text" />
    <f:argument name="pageUid" type="int" optional="{false}" description="UID of the page to link the logo to" />
    <f:argument name="logo" type="string" optional="{false}" description="Path to the logo" />

    <mdlr:molecule.logo areas="{0: 'slot-a', 1: 'align-left-above-600', 2: 'align-middle'}">
        <mdlr:atom.imageLink.page pageUid="{pageUid}" image="{f:uri.image(src: logo)}" alternativeText="{webApp}" hint="{f:translate(key: 'templates.generic.home', extensionName: 'chf_base')}" />
    </mdlr:molecule.logo>
</html>