<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{contentElements}">
        <f:then>
            <mdlr:page.section id="main-content" variants="{0: 'even', 1: 'ultrawide'}">
                <mdlr:organism.content contentElements="{contentElements}" />
            </mdlr:page.section>
        </f:then>
        <f:else>
            <mdlr:page.section id="main-content" variants="{0: 'even'}">
                <div class="mdlr-empty">
                    <svg width="160" height="160" viewBox="0 0 160 160" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use href="#illustration-placeholder"/>
                    </svg>
                    <p><f:translate key="templates.main.empty" extensionName="chf_base"/></p>
                </div>
            </mdlr:page.section>
        </f:else>
    </f:if>
</html>