<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:variable name="listContents">0</f:variable>
    <f:variable name="listSubMenu">0</f:variable>
    <f:for each="{contentElements}" as="contentElement">
        <f:if condition="{contentElement.header} && {contentElement.sectionIndex} && {contentElement.header_layout} != 100">
            <f:variable name="listContents">1</f:variable>
        </f:if>
    </f:for>
    <f:if condition="{subMenu} || {listContents}">
        <nav>
            <h3 class="mdlr-variant-tacit"><f:translate key="templates.main.submenu" extensionName="chf_base"/></h3>
            <ul class="mdlr-buttonrow mdlr-variant-separate">
                <f:for each="{subMenu}" as="menuItem">
                    <f:variable name="listSubMenu">1</f:variable>
                    <li>
                        <mdlr:atom.button.page variants="{0: 'texticon', 1: 'light'}" pageUid="{menuItem.data.uid}" text="{menuItem.title}" iconAfter="right" />
                    </li>
                </f:for>
                <f:render partial="Main/Toc" arguments="{listContents: '{listContents}', listSubMenu: '{listSubMenu}', contentElements: '{contentElements}'}"/>
            </ul>
        </nav>
    </f:if>
</html>