<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <section id="main-title" class="mdlr-section mdlr-variant-title mdlr-variant-odd mdlr-variant-ultrawide mdlr-function-scroll">
        <div class="mdlr-title">
            <h2 class="mdlr-title-heading">{title}</h2>
            <f:if condition="{subtitle}">
                <p class="mdlr-title-subheading">{subtitle}</p>
            </f:if>
            <f:if condition="{supertitle}">
                <p class="mdlr-title-superheading">{supertitle}</p>
            </f:if>
        </div>
        <f:render partial="Main/QuickAccess" arguments="{subMenu: '{subMenu}', contentElements: '{contentElements}'}"/>
    </section>
</html>