<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{listContents}">
        <li class="mdlr-dropdown-wrapper">
            <mdlr:atom.button.function id="main-toc-handle" function="dropdown" variants="{0: '{f:if(condition: \'{listSubMenu}\', then: \'icon\', else: \'texticon\')}', 1: 'light'}" text="{f:translate(key: 'templates.main.toc', extensionName: 'chf_base')}" aria="{controls: 'main-toc-content', haspopup: 'true', expanded: 'false'}" icon="toc" />
            <ul class="mdlr-dropdown {f:if(condition: '{listSubMenu}', then: 'mdlr-variant-right')} mdlr-variant-toc" id="main-toc-content" role="listbox" aria-labelledby="main-toc-handle" tabindex="-1">
                <f:for each="{contentElements}" as="contentElement" iteration="index">
                    <f:if condition="{contentElement.header} && {contentElement.sectionIndex} && {contentElement.header_layout} != 100">
                        <li>
                            <f:if condition="{contentElement.header_layout} == 4">
                                <f:then>
                                    <f:variable name="indent">indent-1</f:variable>
                                </f:then>
                                <f:else>
                                    <f:if condition="{contentElement.header_layout} == 5">
                                        <f:then>
                                            <f:variable name="indent">indent-2</f:variable>
                                        </f:then>
                                        <f:else>
                                            <f:variable name="indent"></f:variable>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                            <mdlr:atom.button.section section="c{contentElement.uid}" variants="{f:if(condition: '{indent} == \'\'', then: '{0: \'mini\', 1: \'unobtrusive\'}', else: '{0: \'mini\', 1: \'unobtrusive\', 2: \'{indent}\'}')}" text="{contentElement.header}" />
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </li>
    </f:if>
</html>