        <h1 id="header-name">
            <f:link.page pageUid="{page.rootPageId}" title="{f:translate(key: 'templates.links.home', extensionName: 'chf_base')}">
                <span><f:if condition="{language.websiteTitle}"><f:then>{language.websiteTitle}</f:then><f:else>{site.configuration.websiteTitle}</f:else></f:if></span>
                <img src="{f:uri.image(src: '{settings.chf.templates.logo}')}" alt="{f:if(condition: '{language.websiteTitle}', then: '{language.websiteTitle}', else: '{site.configuration.websiteTitle}')}" aria-hidden="true">
            </f:link.page>
        </h1>